:root {
  --_color0: #28222d;
  --_color1: #e83f80;
  --_color2: #a2baa8;
  --_color3: #eacac0;
  --_color4: #9985d1;
  --_color5: #e68ac1;
  --_color6: #aabae7;
  --_color7: #dedbeb;

  --_color8: #302838;
  --_color9: #f55d8f;
  --_color10: #bfd1c3;
  --_color11: #f0ddd8;
  --_color12: #b4a4de;
  --_color13: #edabd2;
  --_color14: #c4d1f5;
  --_color15: #edebf7;

  --_colorFG: var(--_color7);

  --primary: #1a1a1a;
  --secondary: #171717;
  --tertiary: #141414;
  --primary-rgb: 26, 26, 26;
  --secondary-rgb: 23, 23, 23;
  --tertiary-rgb: 20, 20, 20;

  --accent: var(--_color1);
  --accent-rgb: 232, 63, 128;
  --red: var(--_color6);
  --text: var(--_color7);
  --link: var(--_color10);
  --highlight: #5c5c5c;
  --highlight-rgb: 92, 92, 92;

  --status-online: var(--_color2);
  --status-idle: var(--_color3);
  --status-dnd: var(--_color5);
  --status-offline: var(--tertiary);
  --status-streaming: var(--_color4);
}
