:root {
  --_color0: #32302f;
  --_color1: #cc241d;
  --_color2: #98971a;
  --_color3: #d79921;
  --_color4: #458588;
  --_color5: #b16286;
  --_color6: #689d6a;
  --_color7: #a89984;

  --_color8: #1d2021;
  --_color9: #fb4934;
  --_color10: #b8bb26;
  --_color11: #fabd2f;
  --_color12: #83a598;
  --_color13: #d3869b;
  --_color14: #8ec07c;
  --_color15: #ebdbb2;

  --_colorFG: #d5c4a1;

  --primary: #32302f;
  --secondary: #282828;
  --tertiary: #1d2021;
  --primary-rgb: 50, 48, 47;
  --secondary-rgb: 40, 40, 40;
  --tertiary-rgb: 29, 32, 33;

  --accent: var(--_color5);
  --accent-rgb: 177, 98, 134;
  --red: var(--_color9);
  --text: var(--_colorFG);
  --link: var(--_color12);
  --highlight: #665c54;
  --highlight-rgb: 102, 92, 84;

  --status-online: var(--_color10);
  --status-idle: var(--_color11);
  --status-dnd: var(--_color1);
  --status-offline: var(--_color8);
  --status-streaming: var(--_color13);
}
