:root {
  --_color0: #484f58;
  --_color1: #f85149;
  --_color2: #3fb950;
  --_color3: #d29922;
  --_color4: #58a6ff;
  --_color5: #bc8cff;
  --_color6: #39c5cf;
  --_color7: #b1bac4;

  --_color8: #6e7681;
  --_color9: #ff7b72;
  --_color10: #56d364;
  --_color11: #e3b341;
  --_color12: #79c0ff;
  --_color13: #d2a8ff;
  --_color14: #56d4dd;
  --_color15: #f0f6fc;

  --_colorFG: var(--_color7);

  --primary: #312f51;
  --secondary: #292841;
  --tertiary: #1c1b29;
  --primary-rgb: 49, 47, 81;
  --secondary-rgb: 41, 40, 65;
  --tertiary-rgb: 28, 27, 41;

  --accent: #5865f2;
  --accent-rgb: 88, 101, 242;
  --red: #ed4245;
  --text: #dcddde;
  --link: #00aff4;
  --highlight: #514f84;
  --highlight-rgb: 81, 79, 132;

  --status-online: #57f287;
  --status-idle: #fee75c;
  --status-dnd: #ed4245;
  --status-offline: #312f51;
  --status-streaming: #eb459e;

  --titlebar-color: var(--highlight) !important;
}

.hljs-comment {
  color: var(--_color8);
}
