:root {
  --_color0: #373e4d;
  --_color1: #fa5aa4;
  --_color2: #2be491;
  --_color3: #fa946e;
  --_color4: #63c5ea;
  --_color5: #cf8ef4;
  --_color6: #89ccf7;
  --_color7: #edfefe;

  --_color8: #3b4252;
  --_color9: #fa74b2;
  --_color10: #44eb9f;
  --_color11: #faa687;
  --_color12: #7acbea;
  --_color13: #d8a6f4;
  --_color14: #a1d5f7;
  --_color15: #e7f7f7;

  --_colorFG: #bbc5ff;

  --primary: #2c2c2c;
  --secondary: #282828;
  --tertiary: #212121;
  --primary-rgb: 43, 43, 43;
  --secondary-rgb: 41, 41, 41;
  --tertiary-rgb: 33, 33, 33;

  --accent: #58516d;
  --accent-rgb: 88, 81, 109;
  --red: var(--_color1);
  --text: #d2d2c8;
  --link: var(--_color6);
  --highlight: #404040;
  --highlight-rgb: 64, 64, 64;

  --status-online: var(--_color4);
  --status-idle: var(--_color3);
  --status-dnd: var(--_color1);
  --status-offline: var(--_color8);
  --status-streaming: var(--_color5);

  --titlebar-color: var(--accent) !important;
}
