@import "mixins";


@include icon(overview, "https://snappercord.github.io/Settings-Icons/icons/server/overview.svg");
@include icon(roles, "https://snappercord.github.io/Settings-Icons/icons/server/roles.svg");
@include icon(emoji, "https://snappercord.github.io/Settings-Icons/icons/server/emoji.svg");
@include icon(stickers, "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 20 20'%3E%3Cpath fill='currentColor' class='' fill-rule='evenodd' clip-rule='evenodd' d='M12.0002 0.662583V5.40204C12.0002 6.83974 13.1605 7.99981 14.5986 7.99981H19.3393C19.9245 7.99981 20.222 7.29584 19.8055 6.8794L13.1209 0.196569C12.7043 -0.219868 12.0002 0.0676718 12.0002 0.662583ZM14.5759 10.0282C12.0336 10.0282 9.96986 7.96441 9.96986 5.42209V0.0583083H1.99397C0.897287 0.0583083 0 0.955595 0 2.05228V18.0041C0 19.1007 0.897287 19.998 1.99397 19.998H17.9457C19.0424 19.998 19.9397 19.1007 19.9397 18.0041V10.0282H14.5759ZM11.9998 12.2201C11.9998 13.3245 11.1046 14.2198 10.0002 14.2198C8.8958 14.2198 8.00052 13.3245 8.00052 12.2201H6.66742C6.66742 14.0607 8.15955 15.5529 10.0002 15.5529C11.8408 15.5529 13.3329 14.0607 13.3329 12.2201H11.9998ZM4.44559 13.331C4.44559 13.9446 3.94821 14.442 3.33467 14.442C2.72112 14.442 2.22375 13.9446 2.22375 13.331C2.22375 12.7175 2.72112 12.2201 3.33467 12.2201C3.94821 12.2201 4.44559 12.7175 4.44559 13.331ZM16.6657 14.442C17.2793 14.442 17.7766 13.9446 17.7766 13.331C17.7766 12.7175 17.2793 12.2201 16.6657 12.2201C16.0522 12.2201 15.5548 12.7175 15.5548 13.331C15.5548 13.9446 16.0522 14.442 16.6657 14.442Z'%3E%3C/path%3E%3Cpath fill='currentColor' class='hidden-vu5JrP' fill-rule='evenodd' clip-rule='evenodd' d='M12.0002 0.662583V5.40204C12.0002 6.83974 13.1605 7.99981 14.5986 7.99981H19.3393C19.9245 7.99981 20.222 7.29584 19.8055 6.8794L13.1209 0.196569C12.7043 -0.219868 12.0002 0.0676718 12.0002 0.662583ZM14.5759 10.0282C12.0336 10.0282 9.96986 7.96441 9.96986 5.42209V0.0583083H1.99397C0.897287 0.0583083 0 0.955595 0 2.05228V18.0041C0 19.1007 0.897287 19.998 1.99397 19.998H17.9457C19.0424 19.998 19.9397 19.1007 19.9397 18.0041V10.0282H14.5759ZM12 13H11.2H8.8H8C8 14.1046 8.89543 15 10 15C11.1046 15 12 14.1046 12 13ZM17.7766 13.331C17.7766 13.9446 17.2793 14.442 16.6657 14.442C16.0522 14.442 15.5548 13.9446 15.5548 13.331C15.5548 12.7175 16.0522 12.2201 16.6657 12.2201C17.2793 12.2201 17.7766 12.7175 17.7766 13.331ZM2 12.2361L2.53532 11L5.62492 12.7835C5.79161 12.8797 5.79161 13.1203 5.62492 13.2165L2.53532 15L2 13.7639L3.32339 13L2 12.2361Z'%3E%3C/path%3E%3C/svg%3E");
@include icon(moderation, "https://snappercord.github.io/Settings-Icons/icons/server/moderation.svg");
@include icon(audit_log, "https://snappercord.github.io/Settings-Icons/icons/server/audit-log.svg");
@include icon(integrations, "https://snappercord.github.io/Settings-Icons/icons/server/integrations.svg");
@include icon(widget, "https://snappercord.github.io/Settings-Icons/icons/server/widget.svg");
@include icon(guild_templates, "https://fonts.gstatic.com/s/i/materialicons/document_scanner/v3/24px.svg");
@include icon(vanity_url, "https://snappercord.github.io/Settings-Icons/icons/default/connections.svg");

/* Community */
@include icon(community, "https://snappercord.github.io/Settings-Icons/icons/server/community.svg");
@include icon(analytics, "https://snappercord.github.io/Settings-Icons/icons/server/analytics.svg");
@include icon(partner, "https://snappercord.github.io/Settings-Icons/icons/server/partner.svg");
@include icon(discovery, "https://snappercord.github.io/Settings-Icons/icons/server/discovery.svg");
@include icon(member_verification, "https://fonts.gstatic.com/s/i/materialicons/manage_search/v10/24px.svg");
@include icon(community_welcome, "https://fonts.gstatic.com/s/i/materialicons/article/v13/24px.svg");

/* Boosting */
@include icon(guild_premium, "https://snappercord.github.io/Settings-Icons/icons/server/premium.svg", var(--settings-guild-premium));
@include icon_alt(guild_premium, "https://snappercord.github.io/Settings-Icons/icons/server/premium.svg");

/* User Management */
@include icon(members, "https://fonts.gstatic.com/s/i/materialicons/groups/v6/24px.svg");
@include icon(instant_invites, "https://fonts.gstatic.com/s/i/materialicons/person_add/v15/24px.svg");
@include icon(bans, "https://snappercord.github.io/Settings-Icons/icons/server/bans.svg");

/* Delete */
@include icon(delete, "https://snappercord.github.io/Settings-Icons/icons/server/delete.svg", var(--settings-guild-delete));
@include icon_alt(delete, "https://snappercord.github.io/Settings-Icons/icons/server/delete.svg");

/*Channel Tab*/
@include icon(permissions, "https://snappercord.github.io/Settings-Icons/icons/server/channel-permissions.svg");
