@import "mixins";


@include icon(my-account, "https://snappercord.github.io/Settings-Icons/icons/default/account.svg");
@include icon(profile-customization, "https://snappercord.github.io/Settings-Icons/icons/plugin/userdetails.svg");
@include icon("privacy-&-safety", "https://snappercord.github.io/Settings-Icons/icons/default/privacy-saftey.svg");
@include icon(authorized-apps, "https://snappercord.github.io/Settings-Icons/icons/default/authorized-apps.svg");
@include icon(connections, "https://snappercord.github.io/Settings-Icons/icons/default/connections.svg");

/* Payment Settings */
@include icon(discord-nitro, "https://snappercord.github.io/Settings-Icons/icons/default/subscriptions.svg", var(--settings-subscriptions));
@include icon(nitro-server-boost, "https://snappercord.github.io/Settings-Icons/icons/default/server-boost.svg");
@include icon(subscriptions, "https://snappercord.github.io/Settings-Icons/icons/default/billing.svg");
@include icon(library-inventory, "https://snappercord.github.io/Settings-Icons/icons/default/gift-inventory.svg");
@include icon(billing, "https://snappercord.github.io/Settings-Icons/icons/default/billing.svg");

/* App Settings */
@include icon(appearance, "https://snappercord.github.io/Settings-Icons/icons/default/appearance.svg");
@include icon(accessibility, "https://fonts.gstatic.com/s/i/materialicons/accessibility_new/v12/24px.svg");
@include icon("voice-&-video", "https://snappercord.github.io/Settings-Icons/icons/default/voice-video.svg");
@include icon("text-&-images", "https://snappercord.github.io/Settings-Icons/icons/default/text-images.svg");
@include icon(notifications, "https://snappercord.github.io/Settings-Icons/icons/default/notifications.svg");
@include icon(keybinds, "https://snappercord.github.io/Settings-Icons/icons/default/keybinds.svg");
@include icon(language, "https://snappercord.github.io/Settings-Icons/icons/default/language.svg");
@include icon(windows, "https://snappercord.github.io/Settings-Icons/icons/default/os-settings.svg");
@include icon(linux, "https://snappercord.github.io/Settings-Icons/icons/default/os-settings.svg");
@include icon(streamer-mode, "https://snappercord.github.io/Settings-Icons/icons/default/streamer-mode.svg");
@include icon(advanced, "https://fonts.gstatic.com/s/i/materialicons/settings_suggest/v19/24px.svg");


/* Activity Settings */
@include icon(game-activity, "https://snappercord.github.io/Settings-Icons/icons/default/game-activity.svg");
@include icon(overlay, "https://snappercord.github.io/Settings-Icons/icons/default/overlay.svg");

/* Extra */
@include icon(changelog, "https://snappercord.github.io/Settings-Icons/icons/default/changelog.svg");
@include icon(hypesquad-online, "https://snappercord.github.io/Settings-Icons/icons/default/hypesquad.svg", var(--settings-hypesquad));
@include icon(experiments, "https://snappercord.github.io/Settings-Icons/icons/powercord/labs.svg");
@include icon(developer-options, "https://snappercord.github.io/Settings-Icons/icons/powercord/developer.svg");
@include icon(hotspot-options, "https://fonts.gstatic.com/s/i/materialicons/announcement/v17/24px.svg");

@include icon(logout, "https://snappercord.github.io/Settings-Icons/icons/default/logout.svg", var(--settings-logout));
