@mixin icon($item_id, $path, $color: black) {
    .side-8zPYf6:not(.searchHeaderTabList-2aPqS1) > .item-PXvHYJ[aria-controls="#{$item-id}-tab"]:not(.role-3wi9Tf)::before {
        --icon: #{url($path)};

        @if ($color != black) {
            --settings-icon-color: #{$color};
        }
    };
}

@mixin icon_alt($item_id, $path) {
    .side-8zPYf6:not(.searchHeaderTabList-2aPqS1) > .item-PXvHYJ[aria-controls="#{$item-id}-tab"][style*="color: rgb(255, 255, 255)"]::before {
        --icon: #{url($path)};
        --settings-icon-color: --settings-alt-focused;
    }
}