@import "icons-default";
@import "icons-server";

/*Variables*/
.theme-dark {
  --settings-icon-color: white;

  --settings-subscriptions: var(--brand-experiment);
  --settings-hypesquad: #fbb848;
  --settings-logout: #f04747;

  --settings-alt-focused: white;

  --settings-guild-premium: var(--brand-experiment);
  --settings-guild-delete: #f04747;
}
.theme-light {
  --settings-icon-color: #4f5660;

  --settings-subscriptions: var(--brand-experiment);
  --settings-hypesquad: #fbb848;
  --settings-logout: #f04747;

  --settings-alt-focused: white;

  --settings-guild-premium: var(--brand-experiment);
  --settings-guild-delete: #f04747;
}

/* Layout */
.side-8zPYf6:not(.searchHeaderTabList-2aPqS1) > .item-PXvHYJ:not(.role-3wi9Tf) {
  display: flex;
  align-items: center;

  &::before {
    content: "";
    width: 22px;
    height: 22px;
    left: 15px;
    margin-right: 6px;
    margin-top: -2px;
    background: var(--settings-icon-color);
    -webkit-mask: var(--icon) center/contain no-repeat;
    mask: var(--icon) center/contain no-repeat;
    --icon: #{url("https://fonts.gstatic.com/s/i/materialicons/extension/v12/24px.svg")};
    flex-shrink: 0;
  }

  /* misc cleanup & coloring */
  &[aria-controls="discord-nitro-tab"],
  &[aria-controls="guild_premium-tab"] {
    &:not(.selected-3s45Ha) > div {
      color: var(--settings-subscriptions);
    }
    &.selected-3s45Ha::before {
      --settings-icon-color: var(--settings-alt-focused) !important;
    }
    & > div svg {
      display: none;
    }
  }
  &[aria-controls="hypesquad-online-tab"] {
    color: var(--settings-hypesquad);
  }
}
