/* context menu */
menupopup,
panel {
    border: none !important;
    background: rgba(26,29,35,0.8) !important;
    color: #8060c0 !important;
    border-radius: 5px !important;
}

menupopup {
    -moz-appearance: none !important;
}

menu,
menuitem,
menucaption {
    -moz-appearance: none !important;
    color: #8060c0 !important;
    height:24px !important;
}

menu:hover,
menuitem:hover,
menucaption:hover,
menu:active,
menuitem:active,
menucaption:active {
    background-color:#8060c0 !important;
    color: #ffffff !important;
}


#context-navigation {
    background-color: transparent !important;
    height:32px !important;
}

menuseparator {
    -moz-appearance: none !important;
    border-bottom-color: #8060c0 !important;
    border-top:none !important;
    padding: 0 !important;
}

/* basic elements */
button {
    -moz-appearance: none !important;
    border-radius: 5px !important;
    background: rgba(26,29,35,0.8) !important;
    color: #8060c0 !important;
}

button:hover,
button:active,
button[open="true"] {
    background: #8060c0 !important;
    color: #ffffff !important;
}

/* menu */
.panel-arrow[side="top"], .panel-arrow[side="bottom"] {
    display: none !important;
}
.panel-arrowcontent {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
}

/* search box */
#PopupAutoCompleteRichResult .autocomplete-richlistitem[selected],
#PopupSearchAutoComplete .autocomplete-richlistitem[selected] {
    background: #8060c0 !important;
    color: #ffffff !important;
}

/* notifs */
notification {
    -moz-appearance: none !important;
    background: rgba(26,29,35,0.8) !important;
    color: #8060c0 !important;
    border:none !important;
}