/* tweaks */
#context-sendpagetodevice, #context-sep-sendpagetodevice,
#context-sendlinktodevice, #context-sep-sendlinktodevice,
#context_sendTabToDevice, #context_sendTabToDevice_separator,
#context-pocket, #context-savelinktopocket {
    display: none !important;
}

.tabbrowser-tab {
    min-width: 1em !important;
    clip-width: 1em !important;
}

/*
 * Compact findbar at the top of the window
 *
 * Contributor(s): Madis0
 */

.browserContainer > findbar {
    -moz-box-ordinal-group: 0;
    position: fixed !important;
    right: 1em;
    border: 1px solid threedshadow !important;

    /* Hide the "border" at the top by removing the box-shadow and background-image */
    border-top: none !important;
    box-shadow: none !important;
    background-image: none !important;

    /* Uncomment to add a transition from the top */
    /*
    transition: 400ms !important;
    z-index: 0 !important;
    */
}

/* Margin from top when hidden (necessary for the transition to work) */
/*findbar[hidden]{ margin-top: -2em !important; }*/

/* Aligns the close button to the center */
.findbar-closebutton {
    margin-inline-start: 0.5em !important;
    vertical-align: middle !important;
    margin-bottom: 0.25em !important;
    height: inherit !important;
}

.findbar-case-sensitive {
    visibility: collapse !important;
}

.findbar-entire-word {
    visibility: collapse !important;
}