@font-face {
  font-family: "Terminus (TTF) for Windows";
  src: local("Terminus (TTF) for Windows"),
    url(https://cynosphere.gitlab.io/Customizations/discord/assets/TerminusTTFWindows-4.47.0.ttf)
      format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Terminus (TTF) for Windows";
  src: local("Terminus (TTF) for Windows"),
    url(https://cynosphere.gitlab.io/Customizations/discord/assets/TerminusTTFWindows-Bold-4.47.0.ttf)
      format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Terminus (TTF) for Windows";
  src: local("Terminus (TTF) for Windows"),
    url(https://cynosphere.gitlab.io/Customizations/discord/assets/TerminusTTFWindows-Bold%20Italic-4.47.0.ttf)
      format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Terminus (TTF) for Windows";
  src: local("Terminus (TTF) for Windows"),
    url(https://cynosphere.gitlab.io/Customizations/discord/assets/TerminusTTFWindows-Italic-4.47.0.ttf)
      format("truetype");
  font-weight: normal;
  font-style: italic;
}
