@font-face {
  font-family: "Untyped";
  src: local("Untyped"),
    url(https://cynosphere.gitlab.io/Customizations/discord/assets/untyped.ttf)
      format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pointfree";
  src: local("Pointfree"),
    url(https://cynosphere.gitlab.io/Customizations/discord/assets/pointfree.ttf)
      format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-primary: "Comic Sans MS", cursive !important;
  --font-display: "Comic Sans MS", cursive !important;
  --font-code: "Untyped", "Pointfree", monospace !important;
}
