@keyframes scroll {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

body {
    background:url("./bg.jpg") !important;
    margin: 0;
    background-color:#1a1d23;
    color:#8060c0;
    font-family: "PxPlus IBM VGA8";
    text-align: center;
    background-repeat: no-repeat;
    background-size: 1000%;
    background-attachment: scroll;
    animation: scroll 150s linear infinite;
}

p {
    margin:0;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade {
    animation: fade 2s linear 1;
}

.center {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
}

.time {
    font-size:128px;
    text-shadow: 0 2px 10px rgba(0,0,0,0.8);
}

.date {
    font-size:32px;
    text-shadow: 0 2px 10px rgba(0,0,0,0.8);
}