:root {
  /* stock */
  /*--_9x-main: #c0c0c0;
  --_9x-inner-border: #ffffff;
  --_9x-outer-border: #808080;
  --_9x-outer: #000000;
  --_9x-accent: #000080;*/

  --_9x-main: #a89890;
  --_9x-inner-border: #d8d0c8;
  --_9x-outer-border: #786058;
  --_9x-outer: #000000;
  --_9x-accent: #484060;

  --_9x-border-outer: 0 0 0 2px var(--_9x-main),
    -3px -3px 0 0 var(--_9x-inner-border), -3px 2px 0 0 var(--_9x-inner-border),
    2px -3px 0 0 var(--_9x-inner-border), -3px 3px 0 0 var(--_9x-outer-border),
    3px -3px 0 0 var(--_9x-outer-border), 3px 3px 0 0 var(--_9x-outer-border),
    4px 4px 0 0 var(--_9x-outer), -4px -4px 0 0 var(--_9x-main),
    3px -4px 0 0 var(--_9x-main), 4px -4px 0 0 var(--_9x-outer),
    -4px 3px 0 0 var(--_9x-main), -4px 4px 0 0 var(--_9x-outer);
  --_9x-border-inner: -1px -1px 0 0 var(--_9x-outer),
    0px -1px 0 0 var(--_9x-outer), -1px 0px 0 0 var(--_9x-outer),
    -2px -2px 0 0 var(--_9x-outer-border), 1px 1px 0 0 var(--_9x-main),
    -1px 1px 0 0 var(--_9x-main), 1px -1px 0 0 var(--_9x-main),
    2px 2px 0 0 var(--_9x-inner-border), -2px 1px 0 0 var(--_9x-outer-border),
    1px -2px 0 0 var(--_9x-outer-border), -2px 2px 0 0 var(--_9x-inner-border),
    2px -2px 0 0 var(--_9x-inner-border);
}

[class^="typeWindows-"] {
  height: 18px;
  background: var(--_9x-accent);
  margin-top: 0px;
}

html.platform-win:not(.app-focused) [class^="typeWindows-"] {
  background: var(--_9x-outer-border);
}

[class^="appMount-"] {
  margin: 4px;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  box-shadow: var(--_9x-border-outer);
  background-color: var(--_9x-main);
}

[class^="appMount-"] > [class^="app-"] > [class^="app-"] {
  margin-top: 20px;
}

body,
[class^="appMount-"] > [class^="app-"],
[class^="appMount-"] > [class^="app-"] > [class^="app-"],
[class^="appMount-"] > [class^="app-"] > [class^="app-"] > [class^="bg-"] {
  background: transparent;
}

/* toolbar */
[class^="toolbar-"] [class^="iconWrapper-"][aria-label="Inbox"],
[class^="toolbar-"] [class^="iconWrapper-"][aria-label="Pinned Messages"],
[class^="toolbar-"] [class^="iconWrapper-"][aria-label="Add Friends to DM"],
[class^="toolbar-"] [class^="iconWrapper-"][aria-label="New Group DM"],
[class^="toolbar-"] [class^="anchor-"] [class^="iconWrapper-"] {
  position: fixed;
  top: 23px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 !important;
  color: #000000;
  font-weight: 100;
  font-size: 12px;
  font-family: Tahoma, sans-serif !important;
  cursor: default;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 18px;
}

[class^="toolbar-"] [class^="iconWrapper-"][aria-label="Inbox"]::after,
[class^="toolbar-"]
  [class^="iconWrapper-"][aria-label="Pinned Messages"]::after,
[class^="toolbar-"]
  [class^="iconWrapper-"][aria-label="Add Friends to DM"]::after,
[class^="toolbar-"] [class^="iconWrapper-"][aria-label="New Group DM"]::after,
[class^="toolbar-"] [class^="anchor-"] [class^="iconWrapper-"]::after {
  white-space: nowrap;
  line-height: normal;
}

[class^="toolbar-"] [class^="iconWrapper-"][aria-label="Inbox"]::after {
  content: "Inbox";
}
[class^="toolbar-"]
  [class^="iconWrapper-"][aria-label="Pinned Messages"]::after {
  content: "Pins";
}
[class^="toolbar-"]
  [class^="iconWrapper-"][aria-label="Add Friends to DM"]::after,
[class^="toolbar-"] [class^="iconWrapper-"][aria-label="New Group DM"]::after {
  content: "Group";
}
[class^="toolbar-"] [class^="anchor-"] [class^="iconWrapper-"]::after {
  content: "Help";
}

[class^="toolbar-"] [class^="iconWrapper-"][aria-label="Inbox"] {
  left: 4px;
  width: 38px;
}
[class^="toolbar-"] [class^="iconWrapper-"][aria-label="Pinned Messages"] {
  left: 42px;
  width: 30px;
}
[class^="toolbar-"] [class^="iconWrapper-"][aria-label="Add Friends to DM"],
[class^="toolbar-"] [class^="iconWrapper-"][aria-label="New Group DM"] {
  left: 72px;
  width: 40px;
}
[class^="toolbar-"] [class^="iconWrapper-"][aria-label="New Group DM"] {
  left: 42px;
}

[class^="toolbar-"] [class^="anchor-"] {
  display: block;
}
[class^="toolbar-"] [class^="anchor-"]:nth-child(8) [class^="iconWrapper-"] {
  left: 116px;
}
[class^="toolbar-"] [class^="anchor-"]:nth-child(6) [class^="iconWrapper-"] {
  left: 76px;
}

[class^="toolbar-"] [class^="anchor-"] [class^="iconWrapper-"] {
  left: 116px;
  width: auto;
}

[class^="toolbar-"]
  [class^="iconWrapper-"][aria-label="Pinned Messages"]
  [class^="iconBadge-"],
[class^="toolbar-"] [class^="iconWrapper-"][aria-label="Inbox"] > svg,
[class^="toolbar-"] [class^="iconWrapper-"][aria-label="Pinned Messages"] > svg,
[class^="toolbar-"]
  [class^="iconWrapper-"][aria-label="Add Friends to DM"]
  > svg,
[class^="toolbar-"] [class^="iconWrapper-"][aria-label="New Group DM"] > svg,
[class^="toolbar-"] [class^="anchor-"] [class^="iconWrapper-"] > svg {
  display: none;
}

[class^="toolbar-"] [class^="iconWrapper-"][aria-label="Inbox"]:active,
[class^="toolbar-"]
  [class^="iconWrapper-"][aria-label="Pinned Messages"]:active,
[class^="toolbar-"]
  [class^="iconWrapper-"][aria-label="Add Friends to DM"]:active,
[class^="toolbar-"] [class^="iconWrapper-"][aria-label="New Group DM"]:active,
[class^="toolbar-"] [class^="anchor-"] [class^="iconWrapper-"]:active,
[class^="toolbar-"]
  [class^="iconWrapper-"][aria-label="Inbox"][class*="selected-"],
[class^="toolbar-"]
  [class^="iconWrapper-"][aria-label="Pinned Messages"][class*="selected-"],
[class^="toolbar-"]
  [class^="iconWrapper-"][aria-label="Add Friends to DM"][class*="selected-"],
[class^="toolbar-"]
  [class^="iconWrapper-"][aria-label="New Group DM"][class*="selected-"],
[class^="toolbar-"]
  [class^="anchor-"]
  [class^="iconWrapper-"][class*="selected-"] {
  background: var(--_9x-accent);
  color: #ffffff;
}

[class^="toolbar-"] [class^="inviteToolbar-"] {
  display: block !important;
}
[class^="toolbar-"]
  [class^="inviteToolbar-"]
  ~ [class^="anchor-"]
  [class^="iconWrapper-"] {
  left: 86px;
}
[class^="toolbar-"]
  [class^="libraryFilter-"]
  ~ [class^="anchor-"]
  [class^="iconWrapper-"] {
  left: 76px;
}
[class^="toolbar-"]
  [class^="iconWrapper-"][aria-label="Add Friends to DM"][aria-label="Add Friends to DM"]
  ~ [class^="anchor-"]
  [class^="iconWrapper-"] {
  left: 116px;
}

[class^="layer-"][class*="baseLayer-"] {
  opacity: 1 !important;
  transform: none !important;
  will-change: opacity !important;
}

/* titlebar */
[class^="wordmarkWindows-"] {
  width: 16px !important;
  height: 16px !important;
  top: 1px;
  left: 2px;
  padding: 0;
  background-image: url("https://totallynotavir.us/i/8s7utsmk.png");
  background-repeat: no-repeat;
}
[class^="wordmarkWindows-"]::after {
  font-family: Tahoma, sans-serif !important;
  font-size: 12px !important;
  line-height: 250% !important;
  color: #ffffff !important;
  font-weight: 600 !important;
  content: "Discord";
  position: absolute;
  top: -7.5px;
  left: 18px;
  height: 17px;
}

html.platform-win:not(.app-focused) [class^="wordmarkWindows-"]::after {
  color: var(--_9x-main) !important;
}

[class^="backdropWithLayer-"] {
  margin: 44px 6px 6px;
}

[class*="winButton-"] {
  width: 14px;
  height: 12px;
  border: 1px solid;
  border-top-color: var(--_9x-inner-border);
  border-left-color: var(--_9x-inner-border);
  border-right-color: var(--_9x-outer);
  border-bottom-color: var(--_9x-outer);
  background-color: var(--_9x-main);
}

[class*="winButton-"]:hover {
  background-color: var(--_9x-main);
}

[class*="winButton-"]::before {
  width: 12px !important;
  height: 10px !important;
  font-family: "Marlett";
  color: #000000;
  font-size: 10px;
  text-align: center;
  font-weight: 800 !important;
  border: 1px solid;
  border-top-color: var(--_9x-main);
  border-left-color: var(--_9x-main);
  border-right-color: var(--_9x-outer-border);
  border-bottom-color: var(--_9x-outer-border);
}

[class^="winButtonClose-"] {
  top: 2px;
  right: 3px;
}
[class^="winButtonClose-"]::before {
  content: "r";
}

[class^="winButtonMinMax-"]:nth-child(3) {
  top: 2px;
  right: 5px;
}
[class^="winButtonMinMax-"]:nth-child(3)::before {
  content: "1";
}
[class^="winButtonMinMax-"]:nth-child(4) {
  top: 2px;
  right: 5px;
}
[class^="winButtonMinMax-"]:nth-child(4)::before {
  content: "0";
}

[class^="winButtonClose-"] > svg,
[class^="winButtonMinMax-"] > svg,
[class^="wordmarkWindows-"] > svg {
  display: none;
}

/* guilds as taskbar */
:root {
  --server-size: 22px;
  --server-spacing: 4px;
  --server-container: 26px;
}

[class*="baseLayer-"] > [class^="container-"] [class^="base-"] {
  left: 0 !important;
  bottom: var(--server-container) !important;
  overflow: visible;
}
#app-mount [class*="sidebar-"] {
  border-radius: 0;
}
#app-mount [class*="unreadMentionsIndicator"] {
  width: var(--server-size);
  padding: 0;
  left: 50%;
  transform: translateX(-50%);
  height: auto;
}
#app-mount [class*="wrapper-"][class*="guilds-"] {
  transform-origin: bottom left;
  transform: rotate(-90deg);
  height: 100vw !important;
  width: var(--server-container);
  top: unset;
  bottom: 0;
  position: absolute !important;
  left: calc(100%);
}
#app-mount [class*="wrapper-"][class*="guilds-"] [class*="scrollerWrap-"] {
  width: calc(100% + 30px);
}
#app-mount
  [class*="wrapper-"][class*="guilds-"]
  [class*="scroller-"]
  > div[style]:not([class*="listItem-"]) {
  height: auto !important;
}
#app-mount
  [class*="wrapper-"][class*="guilds-"]
  [class*="scroller-"]
  > div[style]:not([class*="listItem-"])[style*="height: 0px"] {
  padding-top: 1px;
}
#app-mount [class*="wrapper-"][class*="guilds-"] svg[class*="svg-"],
#app-mount
  [class*="wrapper-"][class*="guilds-"]
  [class*="listItemWrapper-"]
  [class*="wrapper-"],
#app-mount [class*="wrapper-"][class*="guilds-"] [class*="guildsError-"],
#app-mount [class*="wrapper-"][class*="guilds-"] [class*="placeholderMask-"] {
  width: var(--server-size);
  height: var(--server-size);
}
#app-mount [class*="wrapper-"][class*="guilds-"] [role="group"] {
  height: auto !important;
}
#app-mount [class*="wrapper-"][class*="guilds-"] [class*="listItem-"] {
  width: var(--server-size);
  transform: rotate(90deg);
  margin: var(--server-spacing) 0;
  position: unset;
}
#app-mount [class*="wrapper-"][class*="guilds-"] [class*="guildSeparator-"] {
  transform: rotate(90deg);
  width: var(--server-size);
}
#app-mount [class*="wrapper-"][class*="guilds-"] [class*="wrapper-"] {
  width: var(--server-container);
  height: var(--server-container);
}
#app-mount
  [class*="wrapper-"][class*="guilds-"]
  [class*="expandedFolderBackground-"] {
  width: var(--server-size);
  left: 50%;
  border-radius: 10px;
  transform: translateX(-50%);
}
#app-mount [class*="wrapper-"][class*="guilds-"] [class*="golder-"] {
  background: transparent;
}
#app-mount [class*="listItemTooltip-"] {
  position: absolute;
  max-width: unset;
  white-space: nowrap;
  margin-left: calc(var(--server-size) / -1 - 24px);
  bottom: calc(var(--server-size) - 10px);
}
#app-mount [class*="listItemTooltip-"] [class*="tooltipPointer-"] {
  display: none;
}
#app-mount [class*="guilds-"][class*="content-"] {
  position: absolute !important;
  top: calc(var(--server-container) * 2) !important;
}
#app-mount
  [class*="guilds-"][class*="content-"]:not([class*="closed-"])
  + [class*="base-"] {
  top: calc(var(--server-container) * 2) !important;
}
#app-mount [class*="guilds-"] [class*="frame-"][class*="listItem-"] {
  height: var(--server-size) !important;
}
#app-mount
  [class*="guilds-"]
  [class*="frame-"][class*="listItem-"]
  [class*="wrapper-"] {
  height: 100% !important;
}
#app-mount
  [class*="guilds-"]
  [class*="frame-"][class*="listItem-"]
  [class*="button-"] {
  width: 100%;
  height: 100% !important;
  border-radius: 0;
  padding: 2px;
  font-size: 10px;
  box-sizing: border-box;
  text-align: center;
}

#app-mount
  [class*="guilds-"]
  [class*="listItem-"]
  [class*="blobContainer-"]
  > [class*="wrapper-"]
  > svg
  > foreignObject
  > [class*="wrapper-"] {
  height: var(--server-size) !important;
  width: var(--server-size) !important;
  position: absolute;
  top: 0;
  left: 0;
}

#app-mount
  [class*="guilds-"]
  [class*="listItem-"]
  [class*="blobContainer-"]
  > [class*="wrapper-"]
  > svg
  > foreignObject
  > [class*="wrapper-"]
  > img,
#app-mount
  [class*="guilds-"]
  [class*="listItem-"]
  [class*="listItemWrapper-"]
  > [class*="wrapper-"]
  > svg
  > foreignObject
  > [class*="wrapper-"]
  > [class*="childWrapper-"] {
  position: absolute;
  top: 0;
  left: 0;
}

/* guild pills redesign */
[class^="listItem-"]:hover [class^="pill-"] {
  display: none;
}
[class^="listItem-"] [class^="pill-"] {
  width: var(--server-size) !important;
  height: var(--server-size) !important;
  top: 0px !important;
  left: -2px !important;
  z-index: 100;
}
[class^="listItem-"] [class^="pill-"] > span {
  display: none;
}
[class^="listItem-"] [class^="pill-"] > span[style*="height: 8px;"] {
  display: block;
  left: 4px;
  bottom: 2px;
  height: 12px !important;
  width: 12px !important;
  border-radius: 100% !important;
  transform: none !important;
  z-index: 100;
  transform: translate(1px, 1px) scale(1.25) !important;
  background: var(--red);
}
[class^="listItem-"] [class^="pill-"] > span[style*="height: 40px;"] {
  display: block;
  background: transparent;
  height: 12px !important;
  width: 12px !important;
  left: 6px !important;
  top: 1px !important;
  border-radius: 10% !important;
  box-shadow: 0 0 0 2.5px var(--accent);
  z-index: 100;
}

[class^="listItem-"]:hover [class^="pill-"] span {
  opacity: 0 !important;
}

[class^="listItem-"]:not(:hover) [class^="pill-"] span {
  opacity: 0 !important;
}
[class^="listItem-"]:not(:hover) [class^="pill-"] span[style^="opacity: 0.7"],
[class^="listItem-"]:not(:hover) [class^="pill-"] span[style^="opacity: 1"] {
  opacity: 1 !important;
}

[class^="listItem-"] [class^="upperBadge-"] {
  z-index: 500;
}
