[class^="typeWindows-"] {
    background-image: url("https://totallynotavir.us/i/ehzjn6yu.png") !important;
    margin-left: 6px;
    margin-right: 6px;
    height: 29px;
    margin-top: 0;
}
[class^="typeWindows-"]::before {
    position: absolute;
    left: 0;
    width: 6px;
    height: 29px;
    background-image: url("https://totallynotavir.us/i/4fyhahz8.png");
    background-repeat: no-repeat;
    content: " ";
}
[class^="typeWindows-"]::after {
    position: absolute;
    right: 0;
    width: 6px;
    height: 29px;
    background-image: url("https://totallynotavir.us/i/4fyhahz8.png");
    content: " ";
    background-position: 6px 0;
}
[class^="wordmarkWindows-"] {
    width: 16px !important;
    height: 16px !important;
    top: 7px;
    left: 6px;
    padding: 0;
    background-image: url("https://totallynotavir.us/i/f8v6viig.png");
    background-repeat: no-repeat;
}
[class^="wordmarkWindows-"]::after {
    font-family: Tahoma, sans-serif !important;
    font-size: 12px !important;
    line-height: 250% !important;
    color: #fff !important;
    text-shadow: 0.5px 0px 0px #fff, 1px 1px 1px #000 !important;
    font-weight: 500 !important;
    content: "Discord";
    position: absolute;
    top: -8px;
    left: 18px;
    height: 17px;
}
[class^="winButtonClose-"] {
    background-image: url("https://totallynotavir.us/i/oi8ss4l3.png");
    background-repeat: no-repeat;
    width: 21px !important;
    height: 21px !important;
    top: 4px;
    right: 0px;
}
[class^="winButtonMinMax-"]:nth-child(3) {
    background-image: url("https://totallynotavir.us/i/wci17t6j.png");
    background-repeat: no-repeat;
    width: 21px !important;
    height: 21px !important;
    top: 4px;
    right: 2px;
}
[class^="winButtonMinMax-"]:nth-child(4) {
    background-image: url("https://totallynotavir.us/i/ab284sb9.png");
    background-repeat: no-repeat;
    width: 21px !important;
    height: 21px !important;
    top: 4px;
    right: 4px;
}
[class^="winButtonClose-"] > svg,
[class^="winButtonMinMax-"] > svg,
[class^="wordmarkWindows-"] > svg {
    display: none;
}

[class^="appMount-"] > [class^="app-"] {
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 4px;
    box-shadow: 0 0 0 1px #1b1b1b, 0 0 0 2px #292929, 0 0 0 3px #858585,
        0 0 0 4px #1b1b1b;
}
