/* Created by archer#9341, no longer on userstyles.org apparently */
@-moz-document domain("abal.moe") {
    .container .page {
        background: #2A2C31;
    }
    body, html {
        color: white;
        background: #2A2C31;
    }
    .container .menu {
        background: #2A2C31;
    }
    ul.menu, ul.menu li {
        background-color: #2A2C31;
    }
    hr {
        border: solid 1px #6B82D3
    }
    .code {
        background-color: #2F3136;
        color: #fffbfe;
    }
    th {
        background-color: #2F3136;
        border-bottom: 4px solid #2B2E32;
    }
    td {
        border-top: 1px solid #2B2E32;
    }
    table.class-func-params {
        border-collapse: collapse;
        border-bottom: 1px solid #2B2E32;
    }
    .search-bar-input {
        border: 1px solid #4A4C51;
        background: #4A4C51;
    }
    .search-bar-submit {
        background-color: #4A4C51;
        border: 1px solid #4A4C51;
    }
    nav.navbar {
        width: auto;
        background-color: #333333;
        text-align: right;
    }
}