/* Based off of Spaceblack theme for Materialize for Sublime Text */
/* Free to use anywhere as it does not fall under HLJS's license */
.hljs-message,
.hljs-quote {
    color: #65737e !important;
}
.hljs-variable,
.hljs-template-variable,
.hljs-attribute,
.hljs-regexp,
.hljs-link,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
    color: #96b5b4 !important;
}
.hljs-number,
.hljs-meta,
.hljs-literal,
.hljs-type,
.hljs-params {
    color: #d08770 !important;
}

.hljs-built_in,
.hljs-builtin-name {
    color: #ebcb8b !important;
}

.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-subst {
    color: #a3be8c !important;
}
.hljs-title,
.hljs-section {
    color: #7194B8 !important;
}
.hljs-keyword,
.hljs-selector-tag {
    color: #BB80B0 !important;
}
.hljs-deletion,
.hljs-addition {
    color: #1a1d23 !important;
    display: inline-block;
    width: 100%;
}
.hljs-deletion {
    background-color: #be4678 !important;
}
.hljs-addition {
    background-color: #2a9292 !important;
}
.hljs {
    display: block;
    overflow-x: auto;
    background: #1a1d23 !important;
    color: #c0c5ce !important;
    padding: 0.5em;
}
.hljs-emphasis {
    font-style: italic !important;
}
.hljs-strong {
    font-weight: bold !important;
}

@-moz-document domain("hastebin.com"), domain("mystb.in"), domain("paste.dimdev.org") {
    /* Apply styling to hastebin and other popular clones of it */
    body {
        background:#1a1d23 !important;
    }

    #box1 {
        background:rgba(0,0,0,0.5);
    }

    #box2, #box3 {
        background:transparent;
    }

    #pointer {
        display: none !important;
    }
}