/* win9x titlebar */
body,
[class^="appMount-"] {
    background-color: transparent !important;
}

[class^="typeWindows-"] {
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
    height: 18px;
    background-image: linear-gradient(90deg, #000080 0%, #1084d0 100%);
    box-shadow: 0 0 0 2px #c0c0c0, 0 0 0 3px #ffffff, 0 0 0 4px #dfdfdf;
}

[class^="appMount-"] > [class^="app-"] {
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 4px;
    box-shadow: 0 0 0 2px #c0c0c0, 0 0 0 3px #ffffff, 0 0 0 4px #dfdfdf;
}

[class^="wordmarkWindows-"] {
    width: 16px !important;
    height: 16px !important;
    top: 5px;
    left: 6px;
    padding: 0;
    background-image: url("https://totallynotavir.us/i/8s7utsmk.png");
    background-repeat: no-repeat;
}
[class^="wordmarkWindows-"]::after {
    font-family: Tahoma, sans-serif !important;
    font-size: 12px !important;
    line-height: 250% !important;
    color: #fff !important;
    font-weight: 600 !important;
    content: "Discord";
    position: absolute;
    top: -8px;
    left: 18px;
    height: 17px;
}
[class^="winButtonClose-"] {
    width: 14px;
    height: 12px;
    border: 1px solid;
    border-top-color: #ffffff;
    border-left-color: #ffffff;
    border-right-color: #000000;
    border-bottom-color: #000000;
    top: 2px;
    right: 3px;
    background-color: #c0c0c0;
}
[class^="winButtonClose-"]::before {
    width: 12px !important;
    height: 10px !important;
    border: 1px solid;
    border-top-color: #dfdfdf;
    border-left-color: #dfdfdf;
    border-right-color: #808080;
    border-bottom-color: #808080;
    content: "r";
    font-family: "Marlett";
    color: #000000;
    font-size: 10px;
    text-align: center;
    font-weight: 800 !important;
}
[class^="winButtonClose-"]:hover {
    background-color: #c0c0c0 !important;
}

[class^="winButtonMinMax-"]:nth-child(3) {
    width: 14px;
    height: 12px;
    border: 1px solid;
    border-top-color: #ffffff;
    border-left-color: #ffffff;
    border-right-color: #000000;
    border-bottom-color: #000000;
    top: 2px;
    right: 5px;
    background-color: #c0c0c0;
}
[class^="winButtonMinMax-"]:nth-child(3)::before {
    width: 12px !important;
    height: 10px !important;
    border: 1px solid;
    border-top-color: #dfdfdf;
    border-left-color: #dfdfdf;
    border-right-color: #808080;
    border-bottom-color: #808080;
    content: "1";
    font-family: "Marlett";
    color: #000000;
    font-size: 10px;
    text-align: center;
    font-weight: 800 !important;
}
[class^="winButtonMinMax-"]:nth-child(4) {
    width: 14px;
    height: 12px;
    border: 1px solid;
    border-top-color: #ffffff;
    border-left-color: #ffffff;
    border-right-color: #000000;
    border-bottom-color: #000000;
    top: 2px;
    right: 7px;
    background-color: #c0c0c0;
}
[class^="winButtonMinMax-"]:nth-child(4)::before {
    width: 12px !important;
    height: 10px !important;
    border: 1px solid;
    border-top-color: #dfdfdf;
    border-left-color: #dfdfdf;
    border-right-color: #808080;
    border-bottom-color: #808080;
    content: "0";
    font-family: "Marlett";
    color: #000000;
    font-size: 10px;
    text-align: center;
    font-weight: 800 !important;
}

[class^="winButtonClose-"] > svg,
[class^="winButtonMinMax-"] > svg,
[class^="wordmarkWindows-"] > svg {
    display: none;
}
[class^="backdrop-"] {
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
}
.imgxis-menu {
    margin-left: 4px;
    margin-right: 4px;
}