/* winxp titlebar/borders */
[class^="typeWindows-"] {
    background-image: url("https://totallynotavir.us/i/ehzjn6yu.png") !important; /* zune */
    margin-left: 6px;
    margin-right: 6px;
    height: 29px;
    margin-top: 0;
}
[class^="typeWindows-"]::before {
    position: absolute;
    left: 0;
    width: 6px;
    height: 29px;
    background-image: url("https://totallynotavir.us/i/4fyhahz8.png"); /* zune */
    background-repeat: no-repeat;
    content: " ";
}
[class^="typeWindows-"]::after {
    position: absolute;
    right: 0;
    width: 6px;
    height: 29px;
    background-image: url("https://totallynotavir.us/i/4fyhahz8.png"); /* zune */
    content: " ";
    background-position: 6px 0;
}
[class^="appMount-"] > [class^="app-"] {
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 4px;
    box-shadow: 0 0 0 1px #1b1b1b, 0 0 0 2px #292929, 0 0 0 3px #858585,
        0 0 0 4px #1b1b1b; /* zune */
}

[class^="winButtonClose-"] {
    background-image: url("https://totallynotavir.us/i/oi8ss4l3.png"); /* zune */
    background-repeat: no-repeat;
    width: 21px !important;
    height: 21px !important;
    top: 4px;
    right: 0px;
}
[class^="winButtonClose-"]:hover {
    background-image: url("https://totallynotavir.us/i/sbu4te7b.png"); /* zune */
    background-repeat: no-repeat;
    background-color: transparent;
    color: transparent;
}
[class^="winButtonMinMax-"]:nth-child(3) {
    background-image: url("https://totallynotavir.us/i/wci17t6j.png"); /* zune */
    background-repeat: no-repeat;
    width: 21px !important;
    height: 21px !important;
    top: 4px;
    right: 2px;
}
[class^="winButtonMinMax-"]:nth-child(3):hover {
    background-image: url("https://totallynotavir.us/i/nrj2n8x1.png"); /* zune */
    background-repeat: no-repeat;
    background-color: transparent;
    color: transparent;
}
[class^="winButtonMinMax-"]:nth-child(4) {
    background-image: url("https://totallynotavir.us/i/ab284sb9.png"); /* zune */
    background-repeat: no-repeat;
    width: 21px !important;
    height: 21px !important;
    top: 4px;
    right: 4px;
}
[class^="winButtonMinMax-"]:nth-child(4):hover {
    background-image: url("https://totallynotavir.us/i/c0hnr0zg.png"); /* zune */
    background-repeat: no-repeat;
    background-color: transparent;
    color: transparent;
}