/* nessicary, import first */
body,
[class^="appMount-"] {
    background-color: transparent !important;
}

[class^="wordmarkWindows-"] {
    width: 16px !important;
    height: 16px !important;
    top: 7px;
    left: 6px;
    padding: 0;
    background-image: url("https://totallynotavir.us/i/wg7ifht0.png");
    background-repeat: no-repeat;
}
[class^="wordmarkWindows-"]::after {
    font-family: Tahoma, sans-serif !important;
    font-size: 12px !important;
    line-height: 250% !important;
    color: #fff !important;
    text-shadow: 0.5px 0px 0px #fff, 1px 1px 1px #000 !important;
    font-weight: 500 !important;
    content: "Discord";
    position: absolute;
    top: -8px;
    left: 18px;
    height: 17px;
}

[class^="winButtonClose-"] > svg,
[class^="winButtonMinMax-"] > svg,
[class^="wordmarkWindows-"] > svg {
    display: none;
}
[class^="backdrop-"] {
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 4px;
}
.imgxis-menu {
    margin-left: 4px;
    margin-right: 4px;
}