/* winxp titlebar/borders */
[class^="typeWindows-"] {
    background-image: url("https://totallynotavir.us/i/lgn4kobh.png") !important; /* royale noir */
    margin-left: 6px;
    margin-right: 6px;
    height: 29px;
    margin-top: 0;
}
[class^="typeWindows-"]::before {
    position: absolute;
    left: 0;
    width: 6px;
    height: 29px;
    background-image: url("https://totallynotavir.us/i/4ydy9b6d.png"); /* royale noir */
    background-repeat: no-repeat;
    content: " ";
}
[class^="typeWindows-"]::after {
    position: absolute;
    right: 0;
    width: 6px;
    height: 29px;
    background-image: url("https://totallynotavir.us/i/4ydy9b6d.png"); /* royale noir */
    content: " ";
    background-position: 6px 0;
}
[class^="appMount-"] > [class^="app-"] {
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 4px;
    box-shadow: 0 0 0 1px #283243, 0 0 0 2px #434c5a, 0 0 0 3px #798188,
        0 0 0 4px #161d2d; /* royale noir */
}

[class^="winButtonClose-"] {
    background-image: url("https://totallynotavir.us/i/jzemr1hy.png"); /* royale noir */
    background-repeat: no-repeat;
    width: 21px !important;
    height: 21px !important;
    top: 4px;
    right: 0px;
}
[class^="winButtonClose-"]:hover {
    background-image: url("https://totallynotavir.us/i/ts0do9ee.png"); /* royale noir */
    background-repeat: no-repeat;
    background-color: transparent;
    color: transparent;
}
[class^="winButtonMinMax-"]:nth-child(3) {
    background-image: url("https://totallynotavir.us/i/ken6rwkb.png"); /* royale noir */
    background-repeat: no-repeat;
    width: 21px !important;
    height: 21px !important;
    top: 4px;
    right: 2px;
}
[class^="winButtonMinMax-"]:nth-child(3):hover {
    background-image: url("https://totallynotavir.us/i/tm7rbrzn.png"); /* royale noir */
    background-repeat: no-repeat;
    background-color: transparent;
    color: transparent;
}
[class^="winButtonMinMax-"]:nth-child(4) {
    background-image: url("https://totallynotavir.us/i/agpkus7l.png"); /* royale noir */
    background-repeat: no-repeat;
    width: 21px !important;
    height: 21px !important;
    top: 4px;
    right: 4px;
}
[class^="winButtonMinMax-"]:nth-child(4):hover {
    background-image: url("https://totallynotavir.us/i/wemfe09d.png"); /* royale noir */
    background-repeat: no-repeat;
    background-color: transparent;
    color: transparent;
}