/* winxp titlebar/borders */
[class^="typeWindows-"] {
    background-image: url("https://totallynotavir.us/i/rqko47hn.png") !important; /* blue */
    margin-left: 6px;
    margin-right: 6px;
    height: 29px;
    margin-top: 0;
}
[class^="typeWindows-"]::before {
    position: absolute;
    left: 0;
    width: 6px;
    height: 29px;
    background-image: url("https://totallynotavir.us/i/fv2ypyzv.png"); /* blue */
    background-repeat: no-repeat;
    content: " ";
}
[class^="typeWindows-"]::after {
    position: absolute;
    right: 0;
    width: 6px;
    height: 29px;
    background-image: url("https://totallynotavir.us/i/fv2ypyzv.png"); /* blue */
    content: " ";
    background-position: 6px 0;
}
[class^="appMount-"] > [class^="app-"] {
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 4px;
    box-shadow: 0 0 0 1px #004be0, 0 0 0 2px #004beb, 0 0 0 3px #003be0,
        0 0 0 4px #001acf; /* blue */
}

[class^="winButtonClose-"] {
    background-image: url("https://totallynotavir.us/i/p78cnyo6.png"); /* blue */
    background-repeat: no-repeat;
    width: 21px !important;
    height: 21px !important;
    top: 4px;
    right: 0px;
}
[class^="winButtonClose-"]:hover {
    background-image: url("https://totallynotavir.us/i/7dfx1onh.png"); /* blue */
    background-repeat: no-repeat;
    background-color: transparent;
    color: transparent;
}
[class^="winButtonMinMax-"]:nth-child(3) {
    background-image: url("https://totallynotavir.us/i/2e8rozzp.png"); /* blue */
    background-repeat: no-repeat;
    width: 21px !important;
    height: 21px !important;
    top: 4px;
    right: 2px;
}
[class^="winButtonMinMax-"]:nth-child(3):hover {
    background-image: url("https://totallynotavir.us/i/evnb71t8.png"); /* blue */
    background-repeat: no-repeat;
    background-color: transparent;
    color: transparent;
}
[class^="winButtonMinMax-"]:nth-child(4) {
    background-image: url("https://totallynotavir.us/i/yuk2a6j6.png"); /* blue */
    background-repeat: no-repeat;
    width: 21px !important;
    height: 21px !important;
    top: 4px;
    right: 4px;
}
[class^="winButtonMinMax-"]:nth-child(4):hover {
    background-image: url("https://totallynotavir.us/i/4o5khvl6.png"); /* blue */
    background-repeat: no-repeat;
    background-color: transparent;
    color: transparent;
}