:root {
  --primary-alpha: 0.7;
  --secondary-alpha: 0.8;
  --tertiary-alpha: 0.9;

  --transparent_background-primary: rgba(
    var(--primary-rgb),
    var(--primary-alpha)
  ) !important;
  --transparent_background-secondary: rgba(
    var(--secondary-rgb),
    var(--secondary-alpha)
  ) !important;
  --transparent_background-tertiary: rgba(
    var(--tertiary-rgb),
    var(--tertiary-alpha)
  ) !important;
}

[class^="appMount-"] {
  background: var(--custom-background), var(--primary) !important;
}

[class^="chat-"] > [class^="content-"] > [class^="chatContent-"],
[class^="chat-"] > [class^="title-"],
[class^="markup-"] code,
[class*="embedFull-"],
[class^="channelTextArea-"],
[class^="chat-"] > [class^="title-"] [class^="searchBar-"],
[class^="content-"]
  > [class^="sidebar-"]
  > [class^="privateChannels-"]
  > [class^="searchBar-"]
  > [class^="searchBarComponent-"],
[class^="standardSidebarView-"] > [class^="contentRegion-"],
[class^="accountProfileCard-"],
[class^="base-"] > [class^="content-"] > [class^="wrapper-"],
[class^="perksModal-"],
[class^="base-"] > [class^="content-"] > [class^="container-"],
[class^="gameUpdates-"],
[class^="applicationStore-"],
[class^="pageWrapper-"],
.messageLinkPreview-container {
  background-color: var(--transparent_background-primary) !important;
}
[class^="content-"] > [class^="sidebar-"],
[class^="chat-"] > [class^="content-"] > [class^="container-"],
[class^="standardSidebarView-"]
  > [class^="sidebarRegion-"]
  [class^="sidebarRegionScroller-"] {
  background: var(--transparent_background-secondary) !important;
}
nav[class*="guilds-"] {
  background: var(--transparent_background-tertiary) !important;
}

[class^="chat-"],
[class^="content-"] > [class^="sidebar-"] > [class^="container-"],
[class^="content-"] > [class^="sidebar-"] > [class^="privateChannels-"],
[class^="content-"]
  > [class^="sidebar-"]
  > [class^="privateChannels-"]
  > [class^="scroller-"],
nav[class*="guilds-"] > ul > [class^="scroller-"],
[class^="content-"] > [class^="sidebar-"] > [class^="panels-"],
[class^="chat-"]
  > [class^="content-"]
  > [class^="membersWrap-"]
  > [class^="members-"]
  > div,
[class^="channelTextArea-"] > [class^="scrollableContainer-"],
[class^="chat-"] > [class^="title-"] [class^="children-"]:after,
[class^="chat-"]
  > [class^="content-"]
  > [class^="chatContent-"]
  [class^="scrollerInner-"]
  > [class^="wrapper-"],
[class^="chat-"]
  > [class^="content-"]
  > [class^="chatContent-"]
  [class^="scrollerInner-"]
  > [class^="wrapper-"]
  > [class^="wrapper-"],
[class^="standardSidebarView-"],
[class^="standardSidebarView-"]
  > [class^="contentRegion-"]
  [class^="contentRegionScroller-"],
[class^="base-"]
  > [class^="content-"]
  > [class^="wrapper-"]
  > [class^="navigationBar-"],
[class^="peopleColumn-"],
[class^="base-"]
  > [class^="content-"]
  > [class^="container-"]
  > [class*="container-"],
[class^="base-"]
  > [class^="content-"]
  > [class^="container-"]
  > [class^="scroller-"],
[class^="base-"]
  > [class^="content-"]
  > [class^="container-"]
  > [class*="container-"]
  > [class^="table-"]
  > [class*="header-"],
[class^="applicationStore-"] [class^="headerBar-"],
[class^="applicationStore-"] [class^="scroller-"],
#gm-settings-inject,
[class^="base-"]
  > [class^="content-"]
  > [class^="container-"]
  > section
  > section[class^="headerBarContainer-"],
[class^="chat-"]
  > [class^="content-"]
  > [class^="container-"]
  > [class^="membersWrap-"]
  > [class^="members-"],
[class^="chat-"]
  > [class^="content-"]
  > [class^="container-"]
  > [class^="membersWrap-"],
[class^="chat-"]
  > [class^="content-"]
  > [class^="container-"]
  > [class^="membersWrap-"]
  > [class^="members-"]
  > div {
  background: transparent !important;
}

#gm-settings-inject [class^="auto-"]::-webkit-scrollbar-track,
#gm-settings-inject[class^="auto-"]::-webkit-scrollbar-track {
  background: transparent !important;
  border: none;
}
#gm-settings-inject [class^="auto-"]::-webkit-scrollbar-thumb,
#gm-settings-inject[class^="auto-"]::-webkit-scrollbar-thumb {
  background: var(--interactive-normal);
  border: none;
}
#gm-settings-inject [class^="auto-"]::-webkit-scrollbar,
#gm-settings-inject[class^="auto-"]::-webkit-scrollbar {
  width: 12px !important;
  height: 12px !important;
}
