[class^="listItem-"] [class^="pill-"] > span[style*="height: 8px;"] {
  bottom: auto;
  left: 0;
  background: var(--text);
  height: 8px !important;
  width: 8px !important;
}

[class^="listItem-"] [class^="pill-"] {
  width: 72px !important;
  left: 0px !important;
}

[class^="listItem-"] [class^="pill-"] > span[style*="height: 40px;"] {
  right: 12px;
}
