:root {
  --_font-titlebars: "Segoe UI", sans-serif !important;

  --button-bg: linear-gradient(to bottom, var(--primary), var(--secondary));
  --button-shadow: inset 0 0 0 1px var(--tertiary),
    inset 0 0 0 2px var(--primary), inset 0 0 0 3px var(--secondary);

  --hover-bg: #3f3f3f;
  --hover-shadow: inset 0 0 0 1px #373737, inset 0 0 0 2px #444444,
    inset 0 0 0 3px #3c3c3c;

  --scrollbar-shadow: inset 0 0 0 1px var(--tertiary), inset 0 0 0 2px #404040,
    inset 0 0 0 3px var(--primary), inset 0 0 0 4px var(--secondary);
  --scrollbar-shadow-hover: inset 0 0 0 1px var(--tertiary),
    inset 0 0 0 2px #646464, inset 0 0 0 3px var(--primary),
    inset 0 0 0 4px var(--secondary);
}

[class*="button-"][class*="lookFilled-"],
section[class^="panels-"]
  [class^="container-"]
  [class^="flex-"]
  button[class^="button-"],
[class^="toolbar-"] [class^="iconWrapper-"] {
  border-radius: 0;
  background: var(--button-bg) !important;
  box-shadow: var(--button-shadow) !important;
}

div[class^="containerDefault-"][class*="selected-"]
  [class^="iconVisibility-"]
  > [class^="content-"],
div[class^="containerDefault-"]
  [class^="iconVisibility-"][class*="modeSelected-"]
  > [class^="content-"],
nav[class^="sidebar-"] div[class^="item-"][class*="selected-"],
[class^="privateChannels-"]
  [class^="channel-"][class*="selected-"]
  [class^="layout-"],
[class^="member-"][class*="selected-"] > [class^="layout-"],
.sidebarOverhaul [class^="channel-"][class*="selected-"] [class^="layout-"] {
  border-radius: 0;
  background: var(--button-bg) !important;
  box-shadow: var(--button-shadow) !important;
}

div[class^="containerDefault-"] [class^="content-"]:hover,
nav[class^="sidebar-"] div[class^="item-"]:not([class*="selected-"]):hover,
[class^="privateChannels-"]
  [class^="channel-"]:not([class*="selected-"]):hover
  [class^="layout-"],
[class^="member-"]:not([class*="selected-"]):hover > [class^="layout-"],
.sidebarOverhaul
  [class^="channel-"]:not([class*="selected-"]):hover
  [class^="layout-"] {
  border-radius: 0;
  background: var(--hover-bg) !important;
  box-shadow: var(--hover-shadow) !important;
}

[class^="scroller-"]::-webkit-scrollbar-thumb,
[class*="scrollerBase-"]::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: transparent;
  box-shadow: var(--scrollbar-shadow);
}

[class^="channelTextArea-"] > [class^="scrollableContainer-"] {
  border: 1px solid var(--tertiary);
  border-radius: 0;
}

[class^="toolbar-"] [class^="iconWrapper-"] {
  margin: 0;
  width: 32px;
  height: 32px;
}

[class^="toolbar-"] [class^="iconWrapper-"] > svg {
  margin: 4px;
}

[class^="toolbar-"] > [class^="search-"] {
  margin: 0;
}

[class^="toolbar-"] > [class^="search-"] [class^="searchBar-"] {
  background-color: var(--primary);
  border: 1px solid var(--tertiary);
  border-radius: 0;
  height: 32px;
  justify-content: center;
}

[class^="toolbar-"]
  > [class^="search-"]
  [class^="searchBar-"]
  > .DraftEditor-root,
[class^="toolbar-"]
  > [class^="search-"]
  [class^="searchBar-"]
  > [class^="icon-"] {
  height: 24px;
  margin-top: 2px;
}

[class*="recentMentionsPopout-"]
  > [class^="header-"]
  > [class^="tabBar-"]
  > [class^="tab-"] {
  margin: 0;
  border-radius: 0;
  background: var(--button-bg) !important;
  box-shadow: var(--button-shadow) !important;
  font-weight: 100;
  font-size: 12px !important;
}

[class*="recentMentionsPopout-"]
  > [class^="header-"]
  > [class^="tabBar-"]
  > [class^="tab-"]:hover,
[class*="recentMentionsPopout-"]
  > [class^="header-"]
  > [class^="tabBar-"]
  > [class^="tab-"][class*="active-"] {
  background: var(--hover-bg) !important;
  box-shadow: var(--hover-shadow) !important;
}

/* reactions */
[class^="reaction-"] {
  background-color: var(--button-bg);
  box-shadow: var(--button-shadow);
  border-radius: 0;
}

[class^="reaction-"]:hover,
[class^="reaction-"][class*="reactionMe-"] {
  background-color: var(--hover-bg);
  box-shadow: var(--hover-shadow);
}

[class^="reaction-"][class*="reactionMe-"] [class*="reactionCount-"],
[class^="reaction-"]:hover [class*="reactionCount-"] {
  color: #ffffff;
}

[class^="reaction-"] [class*="reactionCount-"] {
  color: var(--text);
}
