@import url("https://crearts-community.github.io/Context-Icons/theme.css");

:root {
  --context-settings-height: unset !important;
}
.submenu-2-ysNh .item-1tOPte {
  flex-direction: row;
}
.submenu-2-ysNh[aria-activedescendant="user-context-roles"] .item-1tOPte {
  flex-direction: row;
}

/* fixes */
.item-1tOPte#image-context-open-native-link::before {
  --icon: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg width='100%25' height='100%25' viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Crect id='Filled' x='0' y='0' width='24' height='24' style='fill:none;'/%3E%3Cg id='Filled1' serif:id='Filled'%3E%3Cg id='Context'%3E%3Cpath id='open_link' d='M19.778,3.111l-15.556,0c-1.233,0 -2.222,1 -2.222,2.222l0,13.334c0,1.222 1,2.222 2.222,2.222l3.334,-0c0.611,-0 1.111,-0.5 1.111,-1.111c-0,-0.611 -0.5,-1.111 -1.111,-1.111l-3.334,-0l0,-11.111l15.556,-0l-0,11.111l-3.334,-0c-0.611,-0 -1.111,0.5 -1.111,1.111c0,0.611 0.5,1.111 1.111,1.111l3.334,-0c1.222,-0 2.222,-1 2.222,-2.222l0,-13.334c0,-1.222 -0.989,-2.222 -2.222,-2.222Zm-8.167,7.056l-3.1,3.1c-0.355,0.355 -0.111,0.955 0.389,0.955l1.989,0l-0,5.556c-0,0.611 0.5,1.111 1.111,1.111c0.611,-0 1.111,-0.5 1.111,-1.111l0,-5.556l1.989,0c0.5,0 0.744,-0.6 0.389,-0.944l-3.1,-3.1c-0.211,-0.222 -0.567,-0.222 -0.778,-0.011Z' style='fill-rule:nonzero;'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.item-1tOPte#message-remove-reactions::before {
  --icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' xml:space='preserve' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2'%3E%3Cpath style='fill:none' d='M0 0h24v24H0z'/%3E%3Cpath d='M11.319 3.821A9.09 9.09 0 0 0 2 12.909a9.091 9.091 0 1 0 18.179-.228 7.273 7.273 0 0 1-8.86-8.86zm-.228 15.452c2.854 0 5.454-2.167 5.454-4.546v-.909H5.636v.909c0 2.379 2.6 4.546 5.455 4.546zm-1.818-10a1.819 1.819 0 1 0-3.637.001 1.819 1.819 0 0 0 3.637-.001zm5.454-4.546v1.818H22V4.727h-7.273z'/%3E%3Cpath style='fill:none;fill-rule:nonzero' d='M-8.266-.211h24v24h-24z'/%3E%3C/svg%3E");
}
.item-1tOPte#message-favorite::before {
  --icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='20' height='20'%3E%3Cpath d='M0,0H24V24H0Z' fill='none'%3E%3C/path%3E%3Cpath fill='currentColor' d='M12.5,17.6l3.6,2.2a1,1,0,0,0,1.5-1.1l-1-4.1a1,1,0,0,1,.3-1l3.2-2.8A1,1,0,0,0,19.5,9l-4.2-.4a.87.87,0,0,1-.8-.6L12.9,4.1a1.05,1.05,0,0,0-1.9,0l-1.6,4a1,1,0,0,1-.8.6L4.4,9a1.06,1.06,0,0,0-.6,1.8L7,13.6a.91.91,0,0,1,.3,1l-1,4.1a1,1,0,0,0,1.5,1.1l3.6-2.2A1.08,1.08,0,0,1,12.5,17.6Z'%3E%3C/path%3E%3C/svg%3E");
}
.item-1tOPte#message-unfavorite::before {
  --icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='M19.6,9l-4.2-0.4c-0.4,0-0.7-0.3-0.8-0.6l-1.6-3.9c-0.3-0.8-1.5-0.8-1.8,0L9.4,8.1C9.3,8.4,9,8.6,8.6,8.7L4.4,9 c-0.9,0.1-1.2,1.2-0.6,1.8L7,13.6c0.3,0.2,0.4,0.6,0.3,1l-1,4.1c-0.2,0.9,0.7,1.5,1.5,1.1l3.6-2.2c0.3-0.2,0.7-0.2,1,0l3.6,2.2 c0.8,0.5,1.7-0.2,1.5-1.1l-1-4.1c-0.1-0.4,0-0.7,0.3-1l3.2-2.8C20.9,10.2,20.5,9.1,19.6,9z M12,15.4l-3.8,2.3l1-4.3l-3.3-2.9 l4.4-0.4l1.7-4l1.7,4l4.4,0.4l-3.3,2.9l1,4.3L12,15.4z'%3E%3C/path%3E%3C/svg%3E");
}
.item-1tOPte#user-context-add-friend-nickname::before,
.item-1tOPte#user-context-edit-friend-nickname::before {
  --icon: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg width='100%25' height='100%25' viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Crect id='Filled' x='0' y='0' width='24' height='24' style='fill:none;'/%3E%3Cg id='Filled1' serif:id='Filled'%3E%3Cg id='Context'%3E%3Cpath d='M19.292,9.831l0.649,-0.647c1.412,-1.412 1.412,-3.711 -0,-5.125c-1.413,-1.412 -3.713,-1.412 -5.125,0l-0.647,0.648l5.123,5.124Zm-6.397,-3.853l-7.713,7.715l5.125,5.123l7.712,-7.715l-5.124,-5.123Zm-8.779,14.996l4.641,-1.16l-4.573,-4.573l-1.16,4.642c-0.077,0.306 0.013,0.631 0.236,0.854c0.224,0.223 0.549,0.312 0.856,0.237Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.item-1tOPte#guild-header-popout-mark-guild-read::before {
  --icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M12 4.66668L11.06 3.72668L6.83332 7.95335L7.77332 8.89335L12 4.66668ZM14.8266 3.72668L7.77332 10.78L4.98665 8.00002L4.04665 8.94002L7.77332 12.6667L15.7733 4.66668L14.8266 3.72668ZM0.273315 8.94002L3.99998 12.6667L4.93998 11.7267L1.21998 8.00002L0.273315 8.94002Z' fill='currentColor'%3E%3C/path%3E%3C/svg%3E");
}

.item-1tOPte#message-unfavorite:not(:hover)::before {
  background: var(--danger-icon-normal);
}
.item-1tOPte#message-unfavorite:not(:hover) {
  color: var(--danger-icon-normal);
}
.item-1tOPte#message-remove-reactions:not(:hover)::before {
  background: var(--danger-icon-normal);
}

.item-1tOPte#guild-header-popout-mark-guild-read .iconContainer-2-XQPY {
  display: none;
}

/* user settings */
/* yes people dont know this even exists */
.item-1tOPte#user-settings-cog-My_Account::before {
  --icon: url("https://snappercord.github.io/Settings-Icons/icons/default/account.svg");
}
.item-1tOPte#user-settings-cog-Profile_Customization::before {
  --icon: url("https://snappercord.github.io/Settings-Icons/icons/plugin/userdetails.svg");
}
.item-1tOPte#user-settings-cog-Privacy___Safety::before {
  --icon: url("https://snappercord.github.io/Settings-Icons/icons/default/privacy-saftey.svg");
}
.item-1tOPte#user-settings-cog-Authorized_Apps::before {
  --icon: url("https://snappercord.github.io/Settings-Icons/icons/default/authorized-apps.svg");
}
.item-1tOPte#user-settings-cog-Connections::before {
  --icon: url("https://snappercord.github.io/Settings-Icons/icons/default/connections.svg");
}

.item-1tOPte#user-settings-cog-Discord_Nitro::before {
  --icon: url("https://snappercord.github.io/Settings-Icons/icons/default/subscriptions.svg");
}
.item-1tOPte#user-settings-cog-Nitro_Server_Boost::before {
  --icon: url("https://snappercord.github.io/Settings-Icons/icons/default/server-boost.svg");
}
.item-1tOPte#user-settings-cog-Subscriptions::before {
  --icon: url("https://snappercord.github.io/Settings-Icons/icons/default/billing.svg");
}
.item-1tOPte#user-settings-cog-Library_Inventory::before {
  --icon: url("https://snappercord.github.io/Settings-Icons/icons/default/gift-inventory.svg");
}
.item-1tOPte#user-settings-cog-Billing::before {
  --icon: url("https://snappercord.github.io/Settings-Icons/icons/default/billing.svg");
}

.item-1tOPte#user-settings-cog-Appearance::before {
  --icon: url("https://snappercord.github.io/Settings-Icons/icons/default/appearance.svg");
}
.item-1tOPte#user-settings-cog-Accessibility::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/accessibility_new/v12/24px.svg");
}
.item-1tOPte#user-settings-cog-Voice___Video::before {
  --icon: url("https://snappercord.github.io/Settings-Icons/icons/default/voice-video.svg");
}
.item-1tOPte#user-settings-cog-Text___Images::before {
  --icon: url("https://snappercord.github.io/Settings-Icons/icons/default/text-images.svg");
}
.item-1tOPte#user-settings-cog-Notifications::before {
  --icon: url("https://snappercord.github.io/Settings-Icons/icons/default/notifications.svg");
}
.item-1tOPte#user-settings-cog-Keybinds::before {
  --icon: url("https://snappercord.github.io/Settings-Icons/icons/default/keybinds.svg");
}
.item-1tOPte#user-settings-cog-Language::before {
  --icon: url("https://snappercord.github.io/Settings-Icons/icons/default/language.svg");
}
.item-1tOPte#user-settings-cog-Windows::before,
.item-1tOPte#user-settings-cog-Linux::before {
  --icon: url("https://snappercord.github.io/Settings-Icons/icons/default/os-settings.svg");
}
.item-1tOPte#user-settings-cog-Streamer_Mode::before {
  --icon: url("https://snappercord.github.io/Settings-Icons/icons/default/streamer-mode.svg");
}
.item-1tOPte#user-settings-cog-Advanced::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/settings_suggest/v19/24px.svg");
}

.item-1tOPte#user-settings-cog-Game_Activity::before {
  --icon: url("https://snappercord.github.io/Settings-Icons/icons/default/game-activity.svg");
}
.item-1tOPte#user-settings-cog-Overlay::before {
  --icon: url("https://snappercord.github.io/Settings-Icons/icons/default/overlay.svg");
}

.item-1tOPte#user-settings-cog-changelog::before {
  --icon: url("https://snappercord.github.io/Settings-Icons/icons/default/changelog.svg");
}
.item-1tOPte#user-settings-cog-Hypesquad_Online::before {
  --icon: url("https://snappercord.github.io/Settings-Icons/icons/default/hypesquad.svg");
}
.item-1tOPte#user-settings-cog-Experiments::before {
  --icon: url("https://snappercord.github.io/Settings-Icons/icons/powercord/labs.svg");
}
.item-1tOPte#user-settings-cog-Developer_Options::before {
  --icon: url("https://snappercord.github.io/Settings-Icons/icons/powercord/developer.svg");
}
.item-1tOPte#user-settings-cog-Hotspot_Options::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/announcement/v17/24px.svg");
}

/* custom stuff */
.item-1tOPte#message-quote::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/format_quote/v12/24px.svg");
}
.item-1tOPte#message-unravel::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/copy_all/v8/24px.svg");
}
.item-1tOPte#user-context-copy-avatar-url::before {
  --icon: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg width='100%25' height='100%25' viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Crect id='Filled' x='0' y='0' width='24' height='24' style='fill:none;'/%3E%3Cg id='Filled1' serif:id='Filled'%3E%3Cg id='Context'%3E%3Cpath id='copy_message_link' d='M10.473,13.527c0.444,0.423 0.444,1.116 -0,1.538c-0.423,0.423 -1.116,0.423 -1.538,0c-2.098,-2.101 -2.098,-5.556 -0,-7.657l3.834,-3.834c2.101,-2.099 5.556,-2.099 7.657,-0c2.099,2.101 2.099,5.556 0,7.657l-1.613,1.614c0.01,-0.888 -0.13,-1.776 -0.434,-2.621l0.509,-0.52c0.613,-0.607 0.959,-1.434 0.959,-2.296c-0,-0.863 -0.346,-1.69 -0.959,-2.296c-0.606,-0.613 -1.433,-0.959 -2.296,-0.959c-0.862,0 -1.689,0.346 -2.296,0.959l-3.823,3.823c-0.613,0.606 -0.959,1.434 -0.959,2.296c0,0.862 0.346,1.69 0.959,2.296Zm3.054,-4.592c0.423,-0.423 1.116,-0.423 1.538,-0c2.098,2.101 2.098,5.556 0,7.657l-3.834,3.834c-2.101,2.099 -5.556,2.099 -7.657,0c-2.099,-2.101 -2.099,-5.556 -0,-7.657l1.613,-1.614c-0.01,0.888 0.13,1.776 0.434,2.632l-0.509,0.509c-0.613,0.607 -0.959,1.434 -0.959,2.296c0,0.863 0.346,1.69 0.959,2.296c0.606,0.613 1.433,0.959 2.296,0.959c0.862,-0 1.689,-0.346 2.296,-0.959l3.823,-3.823c0.613,-0.606 0.959,-1.434 0.959,-2.296c-0,-0.862 -0.346,-1.69 -0.959,-2.296c-0.212,-0.199 -0.333,-0.478 -0.333,-0.769c-0,-0.291 0.121,-0.57 0.333,-0.769Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.item-1tOPte#user-context-pin-dm::before {
  --icon: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg width='100%25' height='100%25' viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Crect id='Filled' x='0' y='0' width='24' height='24' style='fill:none;'/%3E%3Cg id='Filled1' serif:id='Filled'%3E%3Cg id='Context'%3E%3Cpath id='pin_message' d='M21.718,12.653c0.075,-0.075 0.117,-0.177 0.117,-0.283c0,-0.106 -0.042,-0.207 -0.117,-0.283c-1.48,-1.48 -8.325,-8.324 -9.805,-9.804c-0.156,-0.156 -0.409,-0.157 -0.565,-0.001c-0.263,0.263 -0.653,0.653 -0.916,0.915c-0.076,0.075 -0.118,0.177 -0.118,0.283c0,0.106 0.042,0.208 0.117,0.283c0.264,0.264 0.654,0.654 0.917,0.917c0.075,0.075 0.117,0.177 0.117,0.283c0,0.106 -0.042,0.207 -0.117,0.283c-1.083,1.082 -4.903,4.901 -4.903,4.901l-0,0.002c-0.001,0.001 -0.002,0 -0.003,-0.001c-0.044,-0.045 -0.779,-0.781 -1.196,-1.198c-0.075,-0.075 -0.177,-0.117 -0.283,-0.117c-0.106,-0 -0.208,0.042 -0.283,0.117c-0.263,0.263 -0.653,0.653 -0.916,0.917c-0.156,0.156 -0.156,0.409 0,0.565c0.801,0.801 3.078,3.078 3.879,3.878c0.075,0.076 0.118,0.177 0.118,0.283c-0,0.106 -0.043,0.208 -0.118,0.283c-1,1 -4.36,4.36 -5.36,5.36c-0.075,0.075 -0.117,0.177 -0.117,0.283c-0,0.106 0.042,0.208 0.117,0.283c0.263,0.263 0.653,0.652 0.915,0.915c0.157,0.156 0.41,0.156 0.566,0c1,-0.999 4.361,-4.36 5.361,-5.36c0.156,-0.156 0.409,-0.156 0.565,0c0.801,0.801 3.079,3.078 3.88,3.879c0.156,0.156 0.409,0.156 0.566,-0c0.263,-0.263 0.652,-0.653 0.915,-0.916c0.075,-0.075 0.117,-0.177 0.117,-0.283c0,-0.106 -0.042,-0.207 -0.117,-0.282c-0.263,-0.263 -0.652,-0.653 -0.915,-0.916c-0.157,-0.156 -0.157,-0.41 -0,-0.566c1.074,-1.075 4.847,-4.848 4.901,-4.902c0,-0 0.001,-0.001 0.001,-0.001c0,0 0,0 0,0c0,0 0.769,0.769 1.199,1.199c0.075,0.075 0.177,0.117 0.283,0.117c0.106,-0 0.208,-0.042 0.283,-0.117c0.263,-0.263 0.652,-0.653 0.915,-0.916Z' style='fill-rule:nonzero;'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.item-1tOPte#user-settings-cog-postnet::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/extension/v12/24px.svg");
}

.item-1tOPte#image-context-createEmoji-create::before,
.item-1tOPte#message-createEmoji-create::before {
  --icon: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg width='100%25' height='100%25' viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Crect id='Filled' x='0' y='0' width='24' height='24' style='fill:none;'/%3E%3CclipPath id='_clip1'%3E%3Crect id='Filled1' serif:id='Filled' x='0' y='0' width='24' height='24'/%3E%3C/clipPath%3E%3Cg clip-path='url(%23_clip1)'%3E%3Cg id='Context'%3E%3Cpath id='reaction' d='M11.319,3.821c-0.076,-0.002 -0.152,-0.003 -0.228,-0.003c-5.021,0 -9.091,4.07 -9.091,9.091c-0,5.02 4.07,9.091 9.091,9.091c5.021,0 9.091,-4.071 9.091,-9.091c-0,-0.076 -0.001,-0.152 -0.003,-0.228c-0.58,0.149 -1.189,0.228 -1.815,0.228c-4.017,0 -7.273,-3.256 -7.273,-7.273c-0,-0.626 0.079,-1.235 0.228,-1.815Zm-0.228,15.452c2.854,-0 5.454,-2.167 5.454,-4.546l0,-0.909l-10.909,0l0,0.909c0,2.379 2.6,4.546 5.455,4.546Zm-1.818,-10c-0,-1.004 -0.815,-1.818 -1.818,-1.818c-1.004,-0 -1.819,0.814 -1.819,1.818c0,1.004 0.815,1.818 1.819,1.818c1.003,-0 1.818,-0.814 1.818,-1.818Zm10,-4.546l-0,-2.727l-1.818,0l-0,2.727l-2.728,0l0,1.818l2.728,0l-0,2.728l1.818,-0l-0,-2.728l2.727,0l-0,-1.818l-2.727,0Z'/%3E%3C/g%3E%3Crect x='-8.266' y='-0.211' width='24' height='24' style='fill:none;fill-rule:nonzero;'/%3E%3C/g%3E%3C/svg%3E");
}
.item-1tOPte#image-context-reverse-image-search::before,
.item-1tOPte#message-reverse-image-search::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/search/v16/24px.svg");
}
.item-1tOPte#user-context-copy-avatar-image::before {
  --icon: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg width='100%25' height='100%25' viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Crect id='Filled' x='0' y='0' width='24' height='24' style='fill:none;'/%3E%3Cg id='Filled1' serif:id='Filled'%3E%3Cg id='Context'%3E%3Cpath id='Copy_image' d='M22,19.778l0,-15.556c0,-1.222 -1,-2.222 -2.222,-2.222l-15.556,0c-1.222,0 -2.222,1 -2.222,2.222l0,15.556c0,1.222 1,2.222 2.222,2.222l15.556,0c1.222,0 2.222,-1 2.222,-2.222Zm-13.444,-5.578l2.333,2.811l3.444,-4.433c0.223,-0.289 0.667,-0.289 0.889,0.011l3.9,5.2c0.278,0.367 0.011,0.889 -0.444,0.889l-13.322,-0c-0.467,-0 -0.723,-0.534 -0.434,-0.9l2.767,-3.556c0.211,-0.289 0.633,-0.3 0.867,-0.022Z' style='fill-rule:nonzero;'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

/* spotify ocntrols */
#spotify-context-volume .sliderContainer-2Nrll8::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/volume_up/v13/24px.svg");
}
.item-1tOPte#spotify-context-copy-image::before {
  --icon: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg width='100%25' height='100%25' viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Crect id='Filled' x='0' y='0' width='24' height='24' style='fill:none;'/%3E%3Cg id='Filled1' serif:id='Filled'%3E%3Cg id='Context'%3E%3Cpath id='Copy_image' d='M22,19.778l0,-15.556c0,-1.222 -1,-2.222 -2.222,-2.222l-15.556,0c-1.222,0 -2.222,1 -2.222,2.222l0,15.556c0,1.222 1,2.222 2.222,2.222l15.556,0c1.222,0 2.222,-1 2.222,-2.222Zm-13.444,-5.578l2.333,2.811l3.444,-4.433c0.223,-0.289 0.667,-0.289 0.889,0.011l3.9,5.2c0.278,0.367 0.011,0.889 -0.444,0.889l-13.322,-0c-0.467,-0 -0.723,-0.534 -0.434,-0.9l2.767,-3.556c0.211,-0.289 0.633,-0.3 0.867,-0.022Z' style='fill-rule:nonzero;'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.item-1tOPte#spotify-context-upload-cmus-file::before {
  --icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='M9 16h6v-6h4l-7-7-7 7h4v6zm-4 2h14v2H5v-2z'%3E%3C/path%3E%3C/svg%3E");
}

/** spotify **/
.item-1tOPte#spotify-context-open-spotify-url::before {
  --icon: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg width='100%25' height='100%25' viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Crect id='Filled' x='0' y='0' width='24' height='24' style='fill:none;'/%3E%3Cg id='Filled1' serif:id='Filled'%3E%3Cg id='Context'%3E%3Cpath id='open_link' d='M19.778,3.111l-15.556,0c-1.233,0 -2.222,1 -2.222,2.222l0,13.334c0,1.222 1,2.222 2.222,2.222l3.334,-0c0.611,-0 1.111,-0.5 1.111,-1.111c-0,-0.611 -0.5,-1.111 -1.111,-1.111l-3.334,-0l0,-11.111l15.556,-0l-0,11.111l-3.334,-0c-0.611,-0 -1.111,0.5 -1.111,1.111c0,0.611 0.5,1.111 1.111,1.111l3.334,-0c1.222,-0 2.222,-1 2.222,-2.222l0,-13.334c0,-1.222 -0.989,-2.222 -2.222,-2.222Zm-8.167,7.056l-3.1,3.1c-0.355,0.355 -0.111,0.955 0.389,0.955l1.989,0l-0,5.556c-0,0.611 0.5,1.111 1.111,1.111c0.611,-0 1.111,-0.5 1.111,-1.111l0,-5.556l1.989,0c0.5,0 0.744,-0.6 0.389,-0.944l-3.1,-3.1c-0.211,-0.222 -0.567,-0.222 -0.778,-0.011Z' style='fill-rule:nonzero;'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.item-1tOPte#spotify-context-copy-url::before {
  --icon: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg width='100%25' height='100%25' viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Crect id='Filled' x='0' y='0' width='24' height='24' style='fill:none;'/%3E%3Cg id='Filled1' serif:id='Filled'%3E%3Cg id='Context'%3E%3Cpath id='copy_message_link' d='M10.473,13.527c0.444,0.423 0.444,1.116 -0,1.538c-0.423,0.423 -1.116,0.423 -1.538,0c-2.098,-2.101 -2.098,-5.556 -0,-7.657l3.834,-3.834c2.101,-2.099 5.556,-2.099 7.657,-0c2.099,2.101 2.099,5.556 0,7.657l-1.613,1.614c0.01,-0.888 -0.13,-1.776 -0.434,-2.621l0.509,-0.52c0.613,-0.607 0.959,-1.434 0.959,-2.296c-0,-0.863 -0.346,-1.69 -0.959,-2.296c-0.606,-0.613 -1.433,-0.959 -2.296,-0.959c-0.862,0 -1.689,0.346 -2.296,0.959l-3.823,3.823c-0.613,0.606 -0.959,1.434 -0.959,2.296c0,0.862 0.346,1.69 0.959,2.296Zm3.054,-4.592c0.423,-0.423 1.116,-0.423 1.538,-0c2.098,2.101 2.098,5.556 0,7.657l-3.834,3.834c-2.101,2.099 -5.556,2.099 -7.657,0c-2.099,-2.101 -2.099,-5.556 -0,-7.657l1.613,-1.614c-0.01,0.888 0.13,1.776 0.434,2.632l-0.509,0.509c-0.613,0.607 -0.959,1.434 -0.959,2.296c0,0.863 0.346,1.69 0.959,2.296c0.606,0.613 1.433,0.959 2.296,0.959c0.862,-0 1.689,-0.346 2.296,-0.959l3.823,-3.823c0.613,-0.606 0.959,-1.434 0.959,-2.296c-0,-0.862 -0.346,-1.69 -0.959,-2.296c-0.212,-0.199 -0.333,-0.478 -0.333,-0.769c-0,-0.291 0.121,-0.57 0.333,-0.769Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

/** musicbee **/
.item-1tOPte#spotify-context-musicbee-repeat-modes::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/repeat/v12/24px.svg");
}
.item-1tOPte#spotify-context-musicbee-shuffle::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/shuffle/v14/24px.svg");
}
.item-1tOPte#spotify-context-musicbee-scrobble::before {
  --icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='currentColor' d='M225.8 367.1l-18.8-51s-30.5 34-76.2 34c-40.5 0-69.2-35.2-69.2-91.5 0-72.1 36.4-97.9 72.1-97.9 66.5 0 74.8 53.3 100.9 134.9 18.8 56.9 54 102.6 155.4 102.6 72.7 0 122-22.3 122-80.9 0-72.9-62.7-80.6-115-92.1-25.8-5.9-33.4-16.4-33.4-34 0-19.9 15.8-31.7 41.6-31.7 28.2 0 43.4 10.6 45.7 35.8l58.6-7c-4.7-52.8-41.1-74.5-100.9-74.5-52.8 0-104.4 19.9-104.4 83.9 0 39.9 19.4 65.1 68 76.8 44.9 10.6 79.8 13.8 79.8 45.7 0 21.7-21.1 30.5-61 30.5-59.2 0-83.9-31.1-97.9-73.9-32-96.8-43.6-163-161.3-163C45.7 113.8 0 168.3 0 261c0 89.1 45.7 137.2 127.9 137.2 66.2 0 97.9-31.1 97.9-31.1z'%3E%3C/path%3E%3C/svg%3E");
}
.item-1tOPte#spotify-context-musicbee-stop::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/stop/v12/24px.svg");
}
.item-1tOPte#spotify-context-upload-musicbee-file::before {
  --icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='M9 16h6v-6h4l-7-7-7 7h4v6zm-4 2h14v2H5v-2z'%3E%3C/path%3E%3C/svg%3E");
}

/** foobar2000 **/
.item-1tOPte#spotify-context-foobar-playback-modes::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/subscriptions/v11/24px.svg");
}
.item-1tOPte#spotify-context-foobar-stop::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/stop/v12/24px.svg");
}
.item-1tOPte#spotify-context-upload-foobar-file::before {
  --icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='M9 16h6v-6h4l-7-7-7 7h4v6zm-4 2h14v2H5v-2z'%3E%3C/path%3E%3C/svg%3E");
}

/** freezer **/
.item-1tOPte#spotify-context-freezer-repeat-modes::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/repeat/v12/24px.svg");
}
.item-1tOPte#spotify-context-freezer-shuffle::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/shuffle/v14/24px.svg");
}

/** mpd **/
.item-1tOPte#spotify-context-stop-mpd-track::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/stop/v12/24px.svg");
}
.item-1tOPte#spotify-context-upload-mpd-file::before {
  --icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='M9 16h6v-6h4l-7-7-7 7h4v6zm-4 2h14v2H5v-2z'%3E%3C/path%3E%3C/svg%3E");
}
.item-1tOPte#spotify-context-mpd-playback-modes::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/subscriptions/v11/24px.svg");
}
.item-1tOPte#spotify-context-mpd-jump-to-track::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/queue_music/v18/24px.svg");
}
