@import url("https://crearts-community.github.io/Friends-Grid/theme.css");
:root {
  --FG-avatar-shape: 10%;
}

[class^="peopleColumn-"] [class^="avatar-"]::before {
  display: none;
}
[class^="peopleColumn-"] [class^="userInfo-"]::before {
  background-image: url("https://totallynotavir.us/i/5rw87lo8.gif");
  background-repeat: no-repeat;
  background-position-y: top;
  image-rendering: pixelated;
}
