[class^="base-"] > [class^="content-"] > [class^="sidebar-"],
[class^="chat-"] > [class^="content-"] > [class^="container-"],
nav[class*="guilds-"] {
  width: 8px !important;
  transition: width 0.25s ease;
}
[class^="base-"] > [class^="content-"] > [class^="sidebar-"]:hover,
[class^="chat-"] > [class^="content-"] > [class^="container-"]:hover {
  width: 240px !important;
}
nav[class*="guilds-"]:hover {
  width: 72px !important;
}
