.side-8zPYf6:not(.searchHeaderTabList-2aPqS1)
  > .item-PXvHYJ[aria-controls="my-account-tab"]:not(.role-3wi9Tf)::before {
  --icon: url("https://snappercord.github.io/Settings-Icons/icons/default/account.svg");
}

.side-8zPYf6:not(.searchHeaderTabList-2aPqS1)
  > .item-PXvHYJ[aria-controls="profile-customization-tab"]:not(.role-3wi9Tf)::before {
  --icon: url("https://snappercord.github.io/Settings-Icons/icons/plugin/userdetails.svg");
}

.side-8zPYf6:not(.searchHeaderTabList-2aPqS1)
  > .item-PXvHYJ[aria-controls="privacy-&-safety-tab"]:not(.role-3wi9Tf)::before {
  --icon: url("https://snappercord.github.io/Settings-Icons/icons/default/privacy-saftey.svg");
}

.side-8zPYf6:not(.searchHeaderTabList-2aPqS1)
  > .item-PXvHYJ[aria-controls="authorized-apps-tab"]:not(.role-3wi9Tf)::before {
  --icon: url("https://snappercord.github.io/Settings-Icons/icons/default/authorized-apps.svg");
}

.side-8zPYf6:not(.searchHeaderTabList-2aPqS1)
  > .item-PXvHYJ[aria-controls="connections-tab"]:not(.role-3wi9Tf)::before {
  --icon: url("https://snappercord.github.io/Settings-Icons/icons/default/connections.svg");
}

/* Payment Settings */
.side-8zPYf6:not(.searchHeaderTabList-2aPqS1)
  > .item-PXvHYJ[aria-controls="discord-nitro-tab"]:not(.role-3wi9Tf)::before {
  --icon: url("https://snappercord.github.io/Settings-Icons/icons/default/subscriptions.svg");
  --settings-icon-color: var(--settings-subscriptions);
}

.side-8zPYf6:not(.searchHeaderTabList-2aPqS1)
  > .item-PXvHYJ[aria-controls="nitro-server-boost-tab"]:not(.role-3wi9Tf)::before {
  --icon: url("https://snappercord.github.io/Settings-Icons/icons/default/server-boost.svg");
}

.side-8zPYf6:not(.searchHeaderTabList-2aPqS1)
  > .item-PXvHYJ[aria-controls="subscriptions-tab"]:not(.role-3wi9Tf)::before {
  --icon: url("https://snappercord.github.io/Settings-Icons/icons/default/billing.svg");
}

.side-8zPYf6:not(.searchHeaderTabList-2aPqS1)
  > .item-PXvHYJ[aria-controls="library-inventory-tab"]:not(.role-3wi9Tf)::before {
  --icon: url("https://snappercord.github.io/Settings-Icons/icons/default/gift-inventory.svg");
}

.side-8zPYf6:not(.searchHeaderTabList-2aPqS1)
  > .item-PXvHYJ[aria-controls="billing-tab"]:not(.role-3wi9Tf)::before {
  --icon: url("https://snappercord.github.io/Settings-Icons/icons/default/billing.svg");
}

/* App Settings */
.side-8zPYf6:not(.searchHeaderTabList-2aPqS1)
  > .item-PXvHYJ[aria-controls="appearance-tab"]:not(.role-3wi9Tf)::before {
  --icon: url("https://snappercord.github.io/Settings-Icons/icons/default/appearance.svg");
}

.side-8zPYf6:not(.searchHeaderTabList-2aPqS1)
  > .item-PXvHYJ[aria-controls="accessibility-tab"]:not(.role-3wi9Tf)::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/accessibility_new/v12/24px.svg");
}

.side-8zPYf6:not(.searchHeaderTabList-2aPqS1)
  > .item-PXvHYJ[aria-controls="voice-&-video-tab"]:not(.role-3wi9Tf)::before {
  --icon: url("https://snappercord.github.io/Settings-Icons/icons/default/voice-video.svg");
}

.side-8zPYf6:not(.searchHeaderTabList-2aPqS1)
  > .item-PXvHYJ[aria-controls="text-&-images-tab"]:not(.role-3wi9Tf)::before {
  --icon: url("https://snappercord.github.io/Settings-Icons/icons/default/text-images.svg");
}

.side-8zPYf6:not(.searchHeaderTabList-2aPqS1)
  > .item-PXvHYJ[aria-controls="notifications-tab"]:not(.role-3wi9Tf)::before {
  --icon: url("https://snappercord.github.io/Settings-Icons/icons/default/notifications.svg");
}

.side-8zPYf6:not(.searchHeaderTabList-2aPqS1)
  > .item-PXvHYJ[aria-controls="keybinds-tab"]:not(.role-3wi9Tf)::before {
  --icon: url("https://snappercord.github.io/Settings-Icons/icons/default/keybinds.svg");
}

.side-8zPYf6:not(.searchHeaderTabList-2aPqS1)
  > .item-PXvHYJ[aria-controls="language-tab"]:not(.role-3wi9Tf)::before {
  --icon: url("https://snappercord.github.io/Settings-Icons/icons/default/language.svg");
}

.side-8zPYf6:not(.searchHeaderTabList-2aPqS1)
  > .item-PXvHYJ[aria-controls="windows-tab"]:not(.role-3wi9Tf)::before {
  --icon: url("https://snappercord.github.io/Settings-Icons/icons/default/os-settings.svg");
}

.side-8zPYf6:not(.searchHeaderTabList-2aPqS1)
  > .item-PXvHYJ[aria-controls="linux-tab"]:not(.role-3wi9Tf)::before {
  --icon: url("https://snappercord.github.io/Settings-Icons/icons/default/os-settings.svg");
}

.side-8zPYf6:not(.searchHeaderTabList-2aPqS1)
  > .item-PXvHYJ[aria-controls="streamer-mode-tab"]:not(.role-3wi9Tf)::before {
  --icon: url("https://snappercord.github.io/Settings-Icons/icons/default/streamer-mode.svg");
}

.side-8zPYf6:not(.searchHeaderTabList-2aPqS1)
  > .item-PXvHYJ[aria-controls="advanced-tab"]:not(.role-3wi9Tf)::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/settings_suggest/v19/24px.svg");
}

/* Activity Settings */
.side-8zPYf6:not(.searchHeaderTabList-2aPqS1)
  > .item-PXvHYJ[aria-controls="game-activity-tab"]:not(.role-3wi9Tf)::before {
  --icon: url("https://snappercord.github.io/Settings-Icons/icons/default/game-activity.svg");
}

.side-8zPYf6:not(.searchHeaderTabList-2aPqS1)
  > .item-PXvHYJ[aria-controls="overlay-tab"]:not(.role-3wi9Tf)::before {
  --icon: url("https://snappercord.github.io/Settings-Icons/icons/default/overlay.svg");
}

/* Extra */
.side-8zPYf6:not(.searchHeaderTabList-2aPqS1)
  > .item-PXvHYJ[aria-controls="changelog-tab"]:not(.role-3wi9Tf)::before {
  --icon: url("https://snappercord.github.io/Settings-Icons/icons/default/changelog.svg");
}

.side-8zPYf6:not(.searchHeaderTabList-2aPqS1)
  > .item-PXvHYJ[aria-controls="hypesquad-online-tab"]:not(.role-3wi9Tf)::before {
  --icon: url("https://snappercord.github.io/Settings-Icons/icons/default/hypesquad.svg");
  --settings-icon-color: var(--settings-hypesquad);
}

.side-8zPYf6:not(.searchHeaderTabList-2aPqS1)
  > .item-PXvHYJ[aria-controls="experiments-tab"]:not(.role-3wi9Tf)::before {
  --icon: url("https://snappercord.github.io/Settings-Icons/icons/powercord/labs.svg");
}

.side-8zPYf6:not(.searchHeaderTabList-2aPqS1)
  > .item-PXvHYJ[aria-controls="developer-options-tab"]:not(.role-3wi9Tf)::before {
  --icon: url("https://snappercord.github.io/Settings-Icons/icons/powercord/developer.svg");
}

.side-8zPYf6:not(.searchHeaderTabList-2aPqS1)
  > .item-PXvHYJ[aria-controls="hotspot-options-tab"]:not(.role-3wi9Tf)::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/announcement/v17/24px.svg");
}

.side-8zPYf6:not(.searchHeaderTabList-2aPqS1)
  > .item-PXvHYJ[aria-controls="logout-tab"]:not(.role-3wi9Tf)::before {
  --icon: url("https://snappercord.github.io/Settings-Icons/icons/default/logout.svg");
  --settings-icon-color: var(--settings-logout);
}

.side-8zPYf6:not(.searchHeaderTabList-2aPqS1)
  > .item-PXvHYJ[aria-controls="overview-tab"]:not(.role-3wi9Tf)::before {
  --icon: url("https://snappercord.github.io/Settings-Icons/icons/server/overview.svg");
}

.side-8zPYf6:not(.searchHeaderTabList-2aPqS1)
  > .item-PXvHYJ[aria-controls="roles-tab"]:not(.role-3wi9Tf)::before {
  --icon: url("https://snappercord.github.io/Settings-Icons/icons/server/roles.svg");
}

.side-8zPYf6:not(.searchHeaderTabList-2aPqS1)
  > .item-PXvHYJ[aria-controls="emoji-tab"]:not(.role-3wi9Tf)::before {
  --icon: url("https://snappercord.github.io/Settings-Icons/icons/server/emoji.svg");
}

.side-8zPYf6:not(.searchHeaderTabList-2aPqS1)
  > .item-PXvHYJ[aria-controls="stickers-tab"]:not(.role-3wi9Tf)::before {
  --icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 20 20'%3E%3Cpath fill='currentColor' class='' fill-rule='evenodd' clip-rule='evenodd' d='M12.0002 0.662583V5.40204C12.0002 6.83974 13.1605 7.99981 14.5986 7.99981H19.3393C19.9245 7.99981 20.222 7.29584 19.8055 6.8794L13.1209 0.196569C12.7043 -0.219868 12.0002 0.0676718 12.0002 0.662583ZM14.5759 10.0282C12.0336 10.0282 9.96986 7.96441 9.96986 5.42209V0.0583083H1.99397C0.897287 0.0583083 0 0.955595 0 2.05228V18.0041C0 19.1007 0.897287 19.998 1.99397 19.998H17.9457C19.0424 19.998 19.9397 19.1007 19.9397 18.0041V10.0282H14.5759ZM11.9998 12.2201C11.9998 13.3245 11.1046 14.2198 10.0002 14.2198C8.8958 14.2198 8.00052 13.3245 8.00052 12.2201H6.66742C6.66742 14.0607 8.15955 15.5529 10.0002 15.5529C11.8408 15.5529 13.3329 14.0607 13.3329 12.2201H11.9998ZM4.44559 13.331C4.44559 13.9446 3.94821 14.442 3.33467 14.442C2.72112 14.442 2.22375 13.9446 2.22375 13.331C2.22375 12.7175 2.72112 12.2201 3.33467 12.2201C3.94821 12.2201 4.44559 12.7175 4.44559 13.331ZM16.6657 14.442C17.2793 14.442 17.7766 13.9446 17.7766 13.331C17.7766 12.7175 17.2793 12.2201 16.6657 12.2201C16.0522 12.2201 15.5548 12.7175 15.5548 13.331C15.5548 13.9446 16.0522 14.442 16.6657 14.442Z'%3E%3C/path%3E%3Cpath fill='currentColor' class='hidden-vu5JrP' fill-rule='evenodd' clip-rule='evenodd' d='M12.0002 0.662583V5.40204C12.0002 6.83974 13.1605 7.99981 14.5986 7.99981H19.3393C19.9245 7.99981 20.222 7.29584 19.8055 6.8794L13.1209 0.196569C12.7043 -0.219868 12.0002 0.0676718 12.0002 0.662583ZM14.5759 10.0282C12.0336 10.0282 9.96986 7.96441 9.96986 5.42209V0.0583083H1.99397C0.897287 0.0583083 0 0.955595 0 2.05228V18.0041C0 19.1007 0.897287 19.998 1.99397 19.998H17.9457C19.0424 19.998 19.9397 19.1007 19.9397 18.0041V10.0282H14.5759ZM12 13H11.2H8.8H8C8 14.1046 8.89543 15 10 15C11.1046 15 12 14.1046 12 13ZM17.7766 13.331C17.7766 13.9446 17.2793 14.442 16.6657 14.442C16.0522 14.442 15.5548 13.9446 15.5548 13.331C15.5548 12.7175 16.0522 12.2201 16.6657 12.2201C17.2793 12.2201 17.7766 12.7175 17.7766 13.331ZM2 12.2361L2.53532 11L5.62492 12.7835C5.79161 12.8797 5.79161 13.1203 5.62492 13.2165L2.53532 15L2 13.7639L3.32339 13L2 12.2361Z'%3E%3C/path%3E%3C/svg%3E");
}

.side-8zPYf6:not(.searchHeaderTabList-2aPqS1)
  > .item-PXvHYJ[aria-controls="moderation-tab"]:not(.role-3wi9Tf)::before {
  --icon: url("https://snappercord.github.io/Settings-Icons/icons/server/moderation.svg");
}

.side-8zPYf6:not(.searchHeaderTabList-2aPqS1)
  > .item-PXvHYJ[aria-controls="audit_log-tab"]:not(.role-3wi9Tf)::before {
  --icon: url("https://snappercord.github.io/Settings-Icons/icons/server/audit-log.svg");
}

.side-8zPYf6:not(.searchHeaderTabList-2aPqS1)
  > .item-PXvHYJ[aria-controls="integrations-tab"]:not(.role-3wi9Tf)::before {
  --icon: url("https://snappercord.github.io/Settings-Icons/icons/server/integrations.svg");
}

.side-8zPYf6:not(.searchHeaderTabList-2aPqS1)
  > .item-PXvHYJ[aria-controls="widget-tab"]:not(.role-3wi9Tf)::before {
  --icon: url("https://snappercord.github.io/Settings-Icons/icons/server/widget.svg");
}

.side-8zPYf6:not(.searchHeaderTabList-2aPqS1)
  > .item-PXvHYJ[aria-controls="guild_templates-tab"]:not(.role-3wi9Tf)::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/document_scanner/v3/24px.svg");
}

.side-8zPYf6:not(.searchHeaderTabList-2aPqS1)
  > .item-PXvHYJ[aria-controls="vanity_url-tab"]:not(.role-3wi9Tf)::before {
  --icon: url("https://snappercord.github.io/Settings-Icons/icons/default/connections.svg");
}

/* Community */
.side-8zPYf6:not(.searchHeaderTabList-2aPqS1)
  > .item-PXvHYJ[aria-controls="community-tab"]:not(.role-3wi9Tf)::before {
  --icon: url("https://snappercord.github.io/Settings-Icons/icons/server/community.svg");
}

.side-8zPYf6:not(.searchHeaderTabList-2aPqS1)
  > .item-PXvHYJ[aria-controls="analytics-tab"]:not(.role-3wi9Tf)::before {
  --icon: url("https://snappercord.github.io/Settings-Icons/icons/server/analytics.svg");
}

.side-8zPYf6:not(.searchHeaderTabList-2aPqS1)
  > .item-PXvHYJ[aria-controls="partner-tab"]:not(.role-3wi9Tf)::before {
  --icon: url("https://snappercord.github.io/Settings-Icons/icons/server/partner.svg");
}

.side-8zPYf6:not(.searchHeaderTabList-2aPqS1)
  > .item-PXvHYJ[aria-controls="discovery-tab"]:not(.role-3wi9Tf)::before {
  --icon: url("https://snappercord.github.io/Settings-Icons/icons/server/discovery.svg");
}

.side-8zPYf6:not(.searchHeaderTabList-2aPqS1)
  > .item-PXvHYJ[aria-controls="member_verification-tab"]:not(.role-3wi9Tf)::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/manage_search/v10/24px.svg");
}

.side-8zPYf6:not(.searchHeaderTabList-2aPqS1)
  > .item-PXvHYJ[aria-controls="community_welcome-tab"]:not(.role-3wi9Tf)::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/article/v13/24px.svg");
}

/* Boosting */
.side-8zPYf6:not(.searchHeaderTabList-2aPqS1)
  > .item-PXvHYJ[aria-controls="guild_premium-tab"]:not(.role-3wi9Tf)::before {
  --icon: url("https://snappercord.github.io/Settings-Icons/icons/server/premium.svg");
  --settings-icon-color: var(--settings-guild-premium);
}

.side-8zPYf6:not(.searchHeaderTabList-2aPqS1)
  > .item-PXvHYJ[aria-controls="guild_premium-tab"][style*="color: rgb(255, 255, 255)"]::before {
  --icon: url("https://snappercord.github.io/Settings-Icons/icons/server/premium.svg");
  --settings-icon-color: --settings-alt-focused;
}

/* User Management */
.side-8zPYf6:not(.searchHeaderTabList-2aPqS1)
  > .item-PXvHYJ[aria-controls="members-tab"]:not(.role-3wi9Tf)::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/groups/v6/24px.svg");
}

.side-8zPYf6:not(.searchHeaderTabList-2aPqS1)
  > .item-PXvHYJ[aria-controls="instant_invites-tab"]:not(.role-3wi9Tf)::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/person_add/v15/24px.svg");
}

.side-8zPYf6:not(.searchHeaderTabList-2aPqS1)
  > .item-PXvHYJ[aria-controls="bans-tab"]:not(.role-3wi9Tf)::before {
  --icon: url("https://snappercord.github.io/Settings-Icons/icons/server/bans.svg");
}

/* Delete */
.side-8zPYf6:not(.searchHeaderTabList-2aPqS1)
  > .item-PXvHYJ[aria-controls="delete-tab"]:not(.role-3wi9Tf)::before {
  --icon: url("https://snappercord.github.io/Settings-Icons/icons/server/delete.svg");
  --settings-icon-color: var(--settings-guild-delete);
}

.side-8zPYf6:not(.searchHeaderTabList-2aPqS1)
  > .item-PXvHYJ[aria-controls="delete-tab"][style*="color: rgb(255, 255, 255)"]::before {
  --icon: url("https://snappercord.github.io/Settings-Icons/icons/server/delete.svg");
  --settings-icon-color: --settings-alt-focused;
}

/*Channel Tab*/
.side-8zPYf6:not(.searchHeaderTabList-2aPqS1)
  > .item-PXvHYJ[aria-controls="permissions-tab"]:not(.role-3wi9Tf)::before {
  --icon: url("https://snappercord.github.io/Settings-Icons/icons/server/channel-permissions.svg");
}

/*Variables*/
.theme-dark {
  --settings-icon-color: white;
  --settings-subscriptions: var(--brand-experiment);
  --settings-hypesquad: #fbb848;
  --settings-logout: #f04747;
  --settings-alt-focused: white;
  --settings-guild-premium: var(--brand-experiment);
  --settings-guild-delete: #f04747;
}

.theme-light {
  --settings-icon-color: #4f5660;
  --settings-subscriptions: var(--brand-experiment);
  --settings-hypesquad: #fbb848;
  --settings-logout: #f04747;
  --settings-alt-focused: white;
  --settings-guild-premium: var(--brand-experiment);
  --settings-guild-delete: #f04747;
}

/* Layout */
.side-8zPYf6:not(.searchHeaderTabList-2aPqS1) > .item-PXvHYJ:not(.role-3wi9Tf) {
  display: flex;
  align-items: center;
  /* misc cleanup & coloring */
}
.side-8zPYf6:not(.searchHeaderTabList-2aPqS1)
  > .item-PXvHYJ:not(.role-3wi9Tf)::before {
  content: "";
  width: 22px;
  height: 22px;
  left: 15px;
  margin-right: 6px;
  margin-top: -2px;
  background: var(--settings-icon-color);
  -webkit-mask: var(--icon) center/contain no-repeat;
  mask: var(--icon) center/contain no-repeat;
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/extension/v12/24px.svg");
  flex-shrink: 0;
}
.side-8zPYf6:not(.searchHeaderTabList-2aPqS1)
  > .item-PXvHYJ:not(.role-3wi9Tf)[aria-controls="discord-nitro-tab"]:not(.selected-3s45Ha)
  > div,
.side-8zPYf6:not(.searchHeaderTabList-2aPqS1)
  > .item-PXvHYJ:not(.role-3wi9Tf)[aria-controls="guild_premium-tab"]:not(.selected-3s45Ha)
  > div {
  color: var(--settings-subscriptions);
}
.side-8zPYf6:not(.searchHeaderTabList-2aPqS1)
  > .item-PXvHYJ:not(.role-3wi9Tf)[aria-controls="discord-nitro-tab"].selected-3s45Ha::before,
.side-8zPYf6:not(.searchHeaderTabList-2aPqS1)
  > .item-PXvHYJ:not(.role-3wi9Tf)[aria-controls="guild_premium-tab"].selected-3s45Ha::before {
  --settings-icon-color: var(--settings-alt-focused) !important;
}
.side-8zPYf6:not(.searchHeaderTabList-2aPqS1)
  > .item-PXvHYJ:not(.role-3wi9Tf)[aria-controls="discord-nitro-tab"]
  > div
  svg,
.side-8zPYf6:not(.searchHeaderTabList-2aPqS1)
  > .item-PXvHYJ:not(.role-3wi9Tf)[aria-controls="guild_premium-tab"]
  > div
  svg {
  display: none;
}
.side-8zPYf6:not(.searchHeaderTabList-2aPqS1)
  > .item-PXvHYJ:not(.role-3wi9Tf)[aria-controls="hypesquad-online-tab"] {
  color: var(--settings-hypesquad);
}
