[id^="message-accessories-"] {
  display: flex !important;
  flex-wrap: wrap;
  grid-auto-flow: unset;
  grid-row-gap: unset;
  max-width: 480px;
  padding: 0 !important;
}

/* prettier-ignore */
[id^="message-accessories-"] > [class^="messageAttachment-"]:not(:only-child) > a,
[id^="message-accessories-"] > [class^="messageAttachment-"]:not(:only-child) > a > img,
[id^="message-accessories-"] > [class^="embed-"]:not(:only-child) > a,
[id^="message-accessories-"] > [class^="embed-"]:not(:only-child) > a > img {
  width: 400px !important;
  height: 250px !important;
}
/* prettier-ignore */
[id^="message-accessories-"] > [class^="messageAttachment-"]:not(:only-child) > a > img,
[id^="message-accessories-"] > [class^="embed-"]:not(:only-child) > a > img {
  object-fit: cover;
}
/* prettier-ignore */
[id^="message-accessories-"] > [class^="messageAttachment-"]:not(:only-child) > a,
[id^="message-accessories-"] > [class^="embed-"]:not(:only-child) > a {
  margin: 2px;
  border-radius: 4px;
}

[id^="message-accessories-"]
  > [class^="messageAttachment-"]:not(:only-child)
  > [class^="removeAttachmentButton-"] {
  left: 0px !important;
  right: unset !important;
  margin-top: 4px !important;
  margin-left: 4px !important;
}

/*** 2 ***/

/* prettier-ignore */
[id^="message-accessories-"] > [class^="messageAttachment-"]:first-child:nth-last-child(2) > a,
[id^="message-accessories-"] > [class^="messageAttachment-"]:first-child:nth-last-child(2) > a > img,
[id^="message-accessories-"] > [class^="messageAttachment-"]:nth-last-child(2) ~ [class^="messageAttachment-"] > a,
[id^="message-accessories-"] > [class^="messageAttachment-"]:nth-last-child(2) ~ [class^="messageAttachment-"] > a > img,
[id^="message-accessories-"] > [class^="embed-"]:first-child:nth-last-child(2) > a,
[id^="message-accessories-"] > [class^="embed-"]:first-child:nth-last-child(2) > a > img,
[id^="message-accessories-"] > [class^="embed-"]:nth-last-child(2) ~ [class^="embed-"] > a,
[id^="message-accessories-"] > [class^="embed-"]:nth-last-child(2) ~ [class^="embed-"] > a > img {
  width: calc(400px / 2) !important;
  height: calc(250px / 2) !important;
}

/*** 3 ***/

/* prettier-ignore */
[id^="message-accessories-"] > [class^="messageAttachment-"]:nth-last-child(3) ~ [class^="messageAttachment-"]:nth-child(n+2) > a,
[id^="message-accessories-"] > [class^="messageAttachment-"]:nth-last-child(3) ~ [class^="messageAttachment-"]:nth-child(n+2) > a > img,
[id^="message-accessories-"] > [class^="embed-"]:nth-last-child(3) ~ [class^="embed-"]:nth-child(n+2) > a,
[id^="message-accessories-"] > [class^="embed-"]:nth-last-child(3) ~ [class^="embed-"]:nth-child(n+2) > a > img {
  width: calc(400px / 2) !important;
  height: calc(250px / 2) !important;
}

/*** 4 ***/

/* prettier-ignore */
[id^="message-accessories-"] > [class^="messageAttachment-"]:first-child:nth-last-child(4) > a,
[id^="message-accessories-"] > [class^="messageAttachment-"]:first-child:nth-last-child(4) > a > img,
[id^="message-accessories-"] > [class^="messageAttachment-"]:nth-last-child(4) ~ [class^="messageAttachment-"] > a,
[id^="message-accessories-"] > [class^="messageAttachment-"]:nth-last-child(4) ~ [class^="messageAttachment-"] > a > img,
[id^="message-accessories-"] > [class^="embed-"]:first-child:nth-last-child(4) > a,
[id^="message-accessories-"] > [class^="embed-"]:first-child:nth-last-child(4) > a > img,
[id^="message-accessories-"] > [class^="embed-"]:nth-last-child(4) ~ [class^="embed-"] > a,
[id^="message-accessories-"] > [class^="embed-"]:nth-last-child(4) ~ [class^="embed-"] > a > img {
  width: calc(400px / 2) !important;
  height: calc(250px / 2) !important;
}

/*** 5 ***/

/* prettier-ignore */
[id^="message-accessories-"] > [class^="messageAttachment-"]:first-child:nth-last-child(5) > a,
[id^="message-accessories-"] > [class^="messageAttachment-"]:first-child:nth-last-child(5) > a > img,
[id^="message-accessories-"] > [class^="messageAttachment-"]:nth-last-child(5) ~ [class^="messageAttachment-"]:nth-last-child(n+3) > a,
[id^="message-accessories-"] > [class^="messageAttachment-"]:nth-last-child(5) ~ [class^="messageAttachment-"]:nth-last-child(n+3) > a > img,
[id^="message-accessories-"] > [class^="embed-"]:first-child:nth-last-child(5) > a,
[id^="message-accessories-"] > [class^="embed-"]:first-child:nth-last-child(5) > a > img,
[id^="message-accessories-"] > [class^="embed-"]:nth-last-child(5) ~ [class^="embed-"]:nth-last-child(n+3) > a,
[id^="message-accessories-"] > [class^="embed-"]:nth-last-child(5) ~ [class^="embed-"]:nth-last-child(n+3) > a > img {
  width: calc(400px / 2) !important;
  height: calc(250px / 2) !important;
}

/* prettier-ignore */
[id^="message-accessories-"] > [class^="messageAttachment-"]:nth-last-child(5) ~ [class^="messageAttachment-"]:nth-child(n+3) > a,
[id^="message-accessories-"] > [class^="messageAttachment-"]:nth-last-child(5) ~ [class^="messageAttachment-"]:nth-child(n+3) > a > img,
[id^="message-accessories-"] > [class^="embed-"]:nth-last-child(5) ~ [class^="embed-"]:nth-child(n+3) > a,
[id^="message-accessories-"] > [class^="embed-"]:nth-last-child(5) ~ [class^="embed-"]:nth-child(n+3) > a > img {
  width: calc(400px / 3) !important;
  height: calc(250px / 3) !important;
}

/*** 6 ***/

/* prettier-ignore */
[id^="message-accessories-"] > [class^="messageAttachment-"]:nth-last-child(6) ~ [class^="messageAttachment-"]:nth-child(n+2) > a,
[id^="message-accessories-"] > [class^="messageAttachment-"]:nth-last-child(6) ~ [class^="messageAttachment-"]:nth-child(n+2) > a > img {
  width: calc(400px / 2) !important;
  height: calc(250px / 2) !important;
}

/* prettier-ignore */
[id^="message-accessories-"] > [class^="messageAttachment-"]:nth-last-child(6) ~ [class^="messageAttachment-"]:nth-child(n+4) > a,
[id^="message-accessories-"] > [class^="messageAttachment-"]:nth-last-child(6) ~ [class^="messageAttachment-"]:nth-child(n+4) > a > img {
  width: calc(400px / 3) !important;
  height: calc(250px / 3) !important;
}

/*** 7 ***/

/* prettier-ignore */
[id^="message-accessories-"] > [class^="messageAttachment-"]:first-child:nth-last-child(7) > a,
[id^="message-accessories-"] > [class^="messageAttachment-"]:first-child:nth-last-child(7) > a > img,
[id^="message-accessories-"] > [class^="messageAttachment-"]:nth-last-child(7) ~ [class^="messageAttachment-"]:nth-last-child(n+4) > a,
[id^="message-accessories-"] > [class^="messageAttachment-"]:nth-last-child(7) ~ [class^="messageAttachment-"]:nth-last-child(n+4) > a > img {
  width: calc(400px / 2) !important;
  height: calc(250px / 2) !important;
}

/* prettier-ignore */
[id^="message-accessories-"] > [class^="messageAttachment-"]:nth-last-child(7) ~ [class^="messageAttachment-"]:nth-child(n+5) > a,
[id^="message-accessories-"] > [class^="messageAttachment-"]:nth-last-child(7) ~ [class^="messageAttachment-"]:nth-child(n+5) > a > img {
  width: calc(400px / 3) !important;
  height: calc(250px / 3) !important;
}

/*** 8 ***/

/* prettier-ignore */
[id^="message-accessories-"] > [class^="messageAttachment-"]:first-child:nth-last-child(8) > a,
[id^="message-accessories-"] > [class^="messageAttachment-"]:first-child:nth-last-child(8) > a > img,
[id^="message-accessories-"] > [class^="messageAttachment-"]:nth-last-child(8) ~ [class^="messageAttachment-"]:nth-last-child(n+3) > a,
[id^="message-accessories-"] > [class^="messageAttachment-"]:nth-last-child(8) ~ [class^="messageAttachment-"]:nth-last-child(n+3) > a > img {
  width: calc(400px / 2) !important;
  height: calc(250px / 2) !important;
}

/* prettier-ignore */
[id^="message-accessories-"] > [class^="messageAttachment-"]:nth-last-child(8) ~ [class^="messageAttachment-"]:nth-child(n+3) > a,
[id^="message-accessories-"] > [class^="messageAttachment-"]:nth-last-child(8) ~ [class^="messageAttachment-"]:nth-child(n+3) > a > img {
  width: calc(400px / 3) !important;
  height: calc(250px / 3) !important;
}

/*** 9 ***/

/* prettier-ignore */
[id^="message-accessories-"] > [class^="messageAttachment-"]:nth-last-child(9) ~ [class^="messageAttachment-"]:nth-child(n+2) > a,
[id^="message-accessories-"] > [class^="messageAttachment-"]:nth-last-child(9) ~ [class^="messageAttachment-"]:nth-child(n+2) > a > img {
  width: calc(400px / 2) !important;
  height: calc(250px / 2) !important;
}

/* prettier-ignore */
[id^="message-accessories-"] > [class^="messageAttachment-"]:nth-last-child(9) ~ [class^="messageAttachment-"]:nth-child(n+4) > a,
[id^="message-accessories-"] > [class^="messageAttachment-"]:nth-last-child(9) ~ [class^="messageAttachment-"]:nth-child(n+4) > a > img {
  width: calc(400px / 3) !important;
  height: calc(250px / 3) !important;
}

/*** 10 ***/

/* prettier-ignore */
[id^="message-accessories-"] > [class^="messageAttachment-"]:first-child:nth-last-child(10) > a,
[id^="message-accessories-"] > [class^="messageAttachment-"]:first-child:nth-last-child(10) > a > img,
[id^="message-accessories-"] > [class^="messageAttachment-"]:nth-last-child(10) ~ [class^="messageAttachment-"]:nth-last-child(n+5) > a,
[id^="message-accessories-"] > [class^="messageAttachment-"]:nth-last-child(10) ~ [class^="messageAttachment-"]:nth-last-child(n+5) > a > img {
  width: calc(400px / 2) !important;
  height: calc(250px / 2) !important;
}

/* prettier-ignore */
[id^="message-accessories-"] > [class^="messageAttachment-"]:nth-last-child(10) ~ [class^="messageAttachment-"]:nth-child(n+5) > a,
[id^="message-accessories-"] > [class^="messageAttachment-"]:nth-last-child(10) ~ [class^="messageAttachment-"]:nth-child(n+5) > a > img {
  width: calc(400px / 3) !important;
  height: calc(250px / 3) !important;
}
