span[class*="expandedFolderBackground-"] {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin-bottom: -3.5px;
}

&[aria-expanded="true"] > div[class^="listItem-"] {
    width: 100%;
}

& > div[role="group"],
div[class*="expandedGuilds-"] {
    // get rid of the huge empty space at the bottom. hackily.
    margin-bottom: -20px;
    display: inline;
    height: unset !important;
    width: auto !important;

    div[class*="listItem-"] {
        margin: 0 2px;
        width: 48px;
    }
}
