// Styles for the individual guild icons

& > div[class^="listItem-"]:nth-of-type(1)[class] {
    width: 100%;
    [class^="pill-"] {
        display: none;
    }
    [class^="childWrapper-"] {
        border-radius: 10% !important;
    }
    div[class*="listItemWrapper-"] > div[class*="wrapper-"] {
        margin: auto;
        svg {
            left: 0;
            right: 0;
            position: absolute;
            margin: 0 auto;
        }
    }
}

& > div[role="tree"] > div[class^="wrapper-"] {
    // I know...
    margin-left: 4px !important;
    margin-bottom: -2px !important;
    padding: 0 !important;
    width: $guild-list-width;

    &[aria-expanded="false"] {
        height:48px;
    }

    @import "./folders.scss";
}

& > div[role="tree"] > div[class^="listItem-"] {
    margin-left: 4px !important;
    margin-bottom: -2px !important;
    width: 48px !important;
    &:first-child {
        margin-top: 0 !important;
    }
}

& > div[style^="opacity:"]:not([class]) {
    margin-left: 4px !important;
    margin-bottom: -2px !important;
    width: 48px !important;
    & > div[class^="listItem-"] {
        margin-top: 8px !important;
    }
}

& > div[class^="tutorialContainer-"]:not(:first-child) {
    height: 48px !important;
    margin: 2px auto;
    div[class^="listItem-"] {
        margin-top: 0 !important;
    }
}

& > div[class^="tutorialContainer-"]:first-child {
    width: $guild-list-width;
    justify-content: center;
    align-items: center;
    display: flex;
}

& > div[role="tree"] > div[class^="wrapper-"] > div[class^="listItem-"] {
    margin: 0 auto !important;
}

div[class^="container-"],
    div[class^="listItem-"],
    // server folders use wrapper... whyy
    & > div[role="tree"] > div[class^="wrapper-"] {
    // margin-bottom: 4px;
    // margin-right: 4px;
    // width: 50px;
    margin: 2px auto;
    width: auto;
    display: inline-block;

    &[class*="selected-"]:before {
        display: none;
    }

    [class^="blobContainer-"],
    [class^="blob-"] {
        transform: none;
        width: 50px;

        svg mask rect:nth-child(3) {
            display: none;
        }
    }

    [class^="badgeWrapper-"] {
        [class^="lowerBadge-"] {
            bottom: -2px;
            right: -2px;
        }
    }

    &:hover [class^="pill-"] {
        display: none;
    }
    [class^="pill-"] {
        width: 54px !important;
        height: 54px !important;
        z-index: 100;
        top: -2px;
        left: -2px;
        & > span {
            display: none;
        }
        & > span[style*="height: 8px;"] {
            display: block;
            left: 4px;
            bottom: 0;
            height: 12px !important;
            width: 12px !important;
            background: var(--status-dnd);
            border-radius: 100% !important;
            transform: none !important;
            z-index: 100;
            transform: translate(1px, -1px) scale(1.25) !important;
        }
        & > span[style*="height: 40px;"] {
            display: block;
            background: transparent;
            height: 48px !important;
            width: 48px !important;
            left: 6px !important;
            top: 2px !important;
            border-radius: 10% !important;
            box-shadow: 0 0 0 2.5px var(--colorize);
            z-index: 100;
        }
    }

    &:hover [class^="pill-"] span {
        opacity: 0 !important;
    }

    &:not(:hover) [class^="pill-"] span {
        opacity: 0 !important;

        &[style^="opacity: 0.7"],
        &[style^="opacity: 1"] {
            opacity: 1 !important;
        }
    }
    [class*="badge-"] {
        background-color: var(--status-dnd) !important;
    }
    [class^="wrapper-"] {
        border-radius: 10% !important;
    }
    &[class*="pill-"] [class*="item-"] {
        z-index: 100;
        -webkit-transform: translate(14px, 14px) scale(1.2);
        transform: translate(14px, 14px) scale(1.2);
        background: var(--status-dnd) !important;
        box-shadow: 0 1px 0 var(--accent-rgba-25),
            inset 0 1px 0 hsla(0, 0%, 100%, 0.15);
        height: 12px;
        width: 12px;
        margin-top: 0px;
        -webkit-transition: all 100ms ease !important;
        transition: all 100ms ease !important;
    }
    &[class*="pill-"] [class*="item-"][style*="height: 40px;"] {
        z-index: -100;
        -webkit-transform: translate(15px, -25px) scale(1.1);
        transform: translate(15px, -25px) scale(1.1);
        background: var(--colorize) !important;
        height: 50px;
        width: 50px;
        margin-top: 0px;
        -webkit-transition: all 100ms ease !important;
        transition: all 100ms ease !important;
        border-radius: 10%;
    }
    &:first-child {
        position: relative;
        left: 0;
        margin: auto;
        margin-top: 8px !important;
    }
    foreignObject img {
        background: #2f3136;
    }
    foreignObject {
        mask: none;
    }
    [class^="guildSeparator-"] {
        width: calc(#{$guild-list-width} - 24px);
        margin-left: 12px;
        margin-right: 12px;
    }
}
div[style] > div[class^="listItem-"] {
    width: 54px;
}
